extends common/layout
include common/mixins

block content
	main
		button.pop-opener open
		button not me
		button.pop-opener open
		.pop-wrap
			button.pop-closer x
			.pop-aligner
				.pop
					h1 Hello
