.only-tablet {
	display: none;
}
@media (max-width: 1400px) {
	.pop-drag-get-bonus__img,
	.pop-drag-get-skillcard__img {
		max-width: 145px;
	}
	.pop__text,
	.pop-drag .pop__text {
		font-size: 16px;
	}
	.pop-drag {
		padding-top: 20px;
		padding-bottom: 0;
	}
}


@media (max-width: 1200px) {
	.only-tablet {
		display: block;
	}
	.container {
		max-width: 724px;
	}
	.button-primary {
		padding: 20px 30px;
	}
	.only-desktop {
		display: none !important;
	}
	.no-desktop {
		display: inline-block;
	}







	.header {
		padding-top: 20px;
		margin-bottom: 20px;
	}
	.header-logo {
		max-width: 140px;
		margin-right: 10px;
	}
	.nav-item {
		margin-right: 28px;
		font-size: 14px;
		letter-spacing: 0.1em;
	}
	.header-phone {
		letter-spacing: 0.09em;
		margin-bottom: 10px;
	}
	.button__callback {
		font-size: 12px;
		padding: 4px 8px;
		border-radius: 6px;
	}






	.hero-wrapper {
		padding-bottom: 110px;
	}
	.hero__prephrase {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.hero__title {
		font-size: 28px;
		margin-bottom: 30px;
	}
	.hero__subtitle {
		font-size: 22px;
		margin-bottom: 28px;
	}
	.hero__caption {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.hero-button {
		font-size: 14px;
		padding: 10px 14px;
	}
	.hero__character-left {
		left: -130px;
		top: -140px;
		max-width: 420px;
	}
	.hero__character-right {
		top: -145px;
		right: -165px;
		max-width: 450px;
	}
	.hero-offer {
		margin-bottom: 20px;
	}
	.hero-warranty {
		max-width: 200px;
		margin-left: 70px;
	}
	.hero-warranty:after {
		left: 130px;
		top: -60px;
		width: 170px;
		height: 230px;
	}
	.hero-warranty__img {
		max-width: 90px;
	}
	.hero-diploma {
		margin-top: -10px;
		margin-right: 75px;
	}
	.hero-diploma__img {
		max-width: 170px;
		margin-bottom: 0;
		font-size: 14px;
	}
	.hero__bullet-text {
		font-size: 14px;
	}





	.syndrome-wrapper {
		background: url(../img/syndrome/syndrome-bg.png);
		background-position: center;
		background-size: cover;
	}
	.syndrome {
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background: none;
	}
	.syndrome__title {
		transform: none;
	}
	.syndrome__img {
		max-width: 350px;
		margin-left: 50px;
		margin-top: 90px;
		margin-right: 0;
	}
	.swiper-button-next.syndrome-button-next {
		right: 7%;
	}





	.bad-marketing-wrapper {
		padding-top: 30px;
		padding-bottom: 90px;
	}
	.bad-marketing__title {
		text-transform: uppercase;
	}
	.bad-marketing-text {
		max-width: 380px;
		font-size: 14px;
		line-height: 1.8em;
	}
	.bad-marketing-text p:first-child,
	.bad-marketing-text p {
		margin-bottom: 14px;
	}
	.bad-marketing-text__em {
		padding-left: 20px;
	}
	.bad-marketing-text h3 {
		margin-top: 0;
	}
	.bad-marketing-character {
		padding-top: 40px;
		margin-left: 20px;
	}
	.bad-marketing__img {
		max-width: 360px;
		margin-right: 20px;
	}





	.look__title {
		font-size: 40px;
	}
	.look__title:before {
		width: 100%;
	}
	.look__img-bad {
		max-width: 190px;
		max-height: 470px;
	}
	.look-img--good {
		margin-top: 110px;
	}
	.look__title:before {
		max-width: 100%;
	}






	.programm-drag-wrapper {
		border: none;
	}


	.programm-drag {
		flex-direction: column;
		align-items: center;
		text-align: center;
		border: 1px dashed #2b2b2b;
	}
	.programm-drag-1 {
		background: url(./../img/programm/tablet-cert-bg-1.png);
		background-repeat: no-repeat;
		background-position: center top;
	}
	.programm-drag-2 {
		background: url(./../img/programm/tablet-cert-bg-2.png);
		background-repeat: no-repeat;
		background-position: center top;
	}
	.programm-drag-3 {
		background: url(./../img/programm/tablet-cert-bg-3.png);
		background-repeat: no-repeat;
		background-position: center top;
	}
	.programm-drag-4 {
		background: url(./../img/programm/tablet-cert-bg-4.png);
		background-repeat: no-repeat;
		background-position: center top;
	}
	.programm-about__title {
		justify-content: center;
		align-items: center;
	}

	.programm-about {
		order: -2;
		margin-left: 0;
		padding-top: 20px;
	}
	.programm__content {
		font-size: 22px;
		margin-left: auto;
		margin-right: auto;
	}
	.button-drag-more {
		font-size: 18px;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.programm-certificates {
		max-width: 360px;
		order: -1;
	}

	.programm-drag-2 .programm-certificates,
	.programm-drag-3 .programm-certificates {
		padding-top: 0;
	} 
	.drag-result__title {
		text-align: center;
	}
	.drag-img {
		max-width: 310px;
	}
	.img__mikhail {
		width: 100%;
		height: 520px;
		object-fit: contain;
	}
	.img__case {
		max-width: 228px;
		width: 100%;
		margin-bottom: 30px;
	}









	.about {
		padding-top: 145px;
		padding-left: 120px;
		padding-right: 120px;
	}
	.about-wrapper {
		background-position: 120px 460px;
	}
	.about__title {
		padding-left: 0;
		text-align: left;
		font-size: 26px;
		padding-bottom: 15px;
		margin-bottom: 15px;
		max-width: 470px;
	}
	.about-descr {
		font-size: 24px;
		margin-left: 0;
		max-width: 470px;
		margin-bottom: 70px;
	}
	.about-img {
		top: -110px;
		right: -100px;
		max-height: 520px;
		overflow-y: hidden;
		z-index: -1;
	}
	.about-img::after {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		display: block;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, transparent 80%, #080808 95%);
	}
	.about-features__icon {
		max-width: 50px;
		max-height: 40px;
		margin-bottom: 0;
	}
	.about-features__text {
		font-size: 16px;
	}
	.about-features-wrap--single {
		margin-bottom: 25px;
	}
	.about-features-wrap-1 {
		max-width: 550px;
		margin-bottom: 85px;
	}
	.about-features-wrap-2 {
		max-width: 720px;
		margin-bottom: 125px;
	}
	.about-features-wrap-3 {
		max-width: 690px;
		margin-bottom: 40px;
	}
	.about-features-wrap-4 {
		max-width: 560px;
	}
	.about__description {
		line-height: 1.2em;
		font-size: 26px;
		top: 250px;
	}
	.text__golden.text__bold.about__name {
		font-size: 32px;
	}
















	.base {
		flex-wrap: wrap;
		justify-content: center;
		justify-content: space-between;
	}
	.base-img {
		margin-left: -100px;
		margin-right: 80px;
		max-width: 340px;
	}
	.base-slider-1-wrapper {
		margin-top: 50px;
		margin-right: 0;
		text-align: center;
	}
	.base-slider-2-wrapper {
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
	.base-slide__item {
		max-width: 85%;
		margin-left: auto;
		margin-right: auto;
	}
	.base-slider-2-wrapper .base-slide-content {
		padding-right: 50px;
	}
	.base-slide-result {
		margin-right: auto;
		margin-left: auto;
	}
	









	.learn {
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		text-align: center;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	.learn-text__title {
		margin-bottom: 40px;
	}
	.learn-text {
		margin-left: auto;
	}
	.learn-text__bullet {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
	.learn-faq {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	.img-bogdan {
		position: relative;
		max-width: 252px;
	}







	.get__title {
		font-size: 40px;
		font-family: 'Akrobat', sans-serif;
		font-weight: 700;
		text-transform: none;
	}
	.get-decor {
		max-width: 574px;
		max-height: 574px;
		width: 100%;
		height: 100%;
	}
	.get-circle {
		position: relative;
		z-index: -1;
		pointer-events: none;
		transform: rotate(0.5deg);
	}
	.get-logo {
		z-index: 2;
		top: 200px;
	}

	.get-features-item {
		position: relative;
		z-index: 1;
	}
	.get-features__img {
		max-width: 45px;
		margin-bottom: 5px;
	}
	.get-features__text {
		font-size: 14px;
		max-width: 134px;
	}
	.get-features-wrapper-1 {
		max-width: 600px;
		margin-bottom: 75px;
	}
	.get-features-wrapper-2 {
		margin-bottom: 75px;
	}
	.get-features-wrapper-3 {
		max-width: 600px;
	}
	.get-features-item-last {
		margin-top: -70px;
		max-width: 182px;
	}
	.get-features-item-last .get-features__text {
		font-size: 18px;
	}
		








	.testimonials-wrapper {
		margin-top: -330px;
		padding-top: 410px;
		padding-bottom: 190px;
	}
	.testimonials-stats {
		flex-direction: column;
		align-items: center;
		background: none;
		margin-bottom: 0;
	}
	.testimonials-stats__item {
		margin-bottom: 15px;
	}
	.testimonials-stats__item--bg {
		background: #121212;
		border-radius: 12px;
		display: block;
		padding: 10px 30px;
	}
	.testimonials__name {
		font-size: 20px;
	}
	.testimonials__text {
		font-size: 18px;
	}
	.testimonials-list {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	.testimonials-all-cases {
		margin-top: -130px;
		margin-bottom: 50px;
	}














	.partners-wrapper {
		padding-top: 60px;
		padding-bottom: 30px;
	}
	.partners-list {
		max-width: 724px;
		margin-left: 0;
		margin-right: 0;
	}







	.pricing-wrapper {
		padding-top: 40px;
	}
	.pricing__title {
		margin-bottom: 30px;
	}
	.pricing__price {
		margin-bottom: 30px;
	}
	.pricing-scheme {
		align-items: flex-start;
	}
	.pricing-in {
		padding-top: 0;
		max-width: 228px;
		width: 100%;
	}
	.pricing-in:before {
		content: url(./../img/scheme/mobile-pricing-arrow-in.png);
		left: 80px;
		bottom: -129px;
	}
	.pricing-out:before {
		content: url(./../img/scheme/mobile-pricing-arrow-out.png);
		right: 110px;
		bottom: -60px;
	}
	.pricing-action-in {
		margin-top: 10px;
	}


	.pricing__out {
		max-width: 372px;
		width: 100%;
	}
	.pricing-card {
		position: absolute;
		max-width: 290px;
		top: 210px;
		left: 84px;
	}




	.pricing__out {
		transform: rotate(-10deg);
	}
	

	.scheme__tag {
		font-size: 14px;
	}
	.scheme__project {
		transform: translate(90px) rotate(15deg);
	}
	.scheme__skillup {
		transform: translate(170px,30px) rotate(-15deg);
	}

	.scheme__hacks {
		transform: translate(260px,50px) rotate(-9deg);
	}


	.scheme__pro {
		transform: translate(0px,170px) rotate(-3deg);
	}

	.scheme__tutorials {
		transform: translate(150px,210px) rotate(5deg);
	}
	.scheme__checklists {
		transform: translate(220px,230px) rotate(-15deg);
	}
	.scheme__mindmaps {
		transform: translate(285px,260px) rotate(40deg);
	}
	.pricing-action-out {
		margin-top: 0;
	}

	.pricing-button {
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;
	}





	.team {
		flex-direction: column;
		align-items: center;
		max-width: 476px;
		margin-left: auto;
		margin-right: auto;
	}
	.team-about {
		max-width: 90%;
		width: 100%;
	}
	.team-clients {
		max-width: 100%;
	}
	.team-clients__title {
		font-size: 22px;
	}
	.team-thanks-button {
		display: flex;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}









	.changes {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.changes-course {
		max-width: 350px;
	}
	.changes-course-list {
		margin-bottom: 60px;
	}




	.footer-wrapper {
		padding-top: 60px;
	}
	.footer {
		flex-wrap: wrap;
		align-items: center;
	}
	.footer-info {
		max-width: 445px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	.designer {
		order: 3;
		flex-direction: row;
	}
	.designer__logo {
		max-width: 30px;
		margin-right: 10px;
	}

}



































.burger {
	display: none;
}

.only-mobile {
	display: none;
}
.no-mobile {
	display: none;
}
@media (max-width: 768px) {
	.only-tablet {
		display: none;
	}
	.container {
		max-width: 320px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.only-mobile {
		display: block;
	}
	.only-tablet {
		display: none;
	}
	.only-desktop {
		display: none;
	}
	.no-desktop {
		display: block;
	}
	.no-mobile {
		display: block;
	}
	
	.header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 90px;
	}
	.header-logo {
		order: 3;
		margin-right: 0;
		max-width: 170px;
	}

	.nav-item {
		display: none;
	}
	.header-contact {
		margin-left: 0;
	}
	.button__callback {
		display: none;
	}
	.burger {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 20px;
		right: 20px;
		z-index: 10;
	}
	.burger__line {
		height: 3px;
		width: 26px;
		border-radius: 3px;
		display: block;
	}
	.burger__line--top {
		background-color: #dca067;
		transform: translate(0, -7px);
		transition: all 0.3s;
	}
	.burger__line--center {
		background-color: #ba7f4f;
		transition: all 0.3s;
	}
	.burger__line--bottom {
		background-color: #985e36;
		transform: translate(0, 7px);
		transition: all 0.3s;
	}
	.burger--opened {
		z-index: 100000001;
	}
	.burger--opened .burger__line--top {
		transform: translate(0, 3px) rotate(-45deg);
		transition: all 0.3s;

	} 
	.burger--opened .burger__line--center {
		transition: all 0.3s;
		background: transparent;

	} 
	.burger--opened .burger__line--bottom {
		transform: translate(0, -3px) rotate(45deg);
		transition: all 0.3s;

	} 












	.hero__character-left,
	.hero__character-right {
		display: none;
	}
	.hero__character-mobile {
		position: absolute;
		top: -160px;
		left: 0;
		right: 0;
		z-index: 0;
		margin-left: auto;
		margin-right: auto;
	}
	.hero__prephrase {
		text-align: center;
	}
	.hero__title {
		font-size: 20px;
		letter-spacing: 0.01em;
		margin-bottom: 30px;
	}
	.hero__subtitle {
		font-size: 18px;
		margin-bottom: 12px;
	}
	.hero__caption {
		max-width: 230px;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
	.hero-button {
		padding-left: 20px;
		padding-right: 20px;
	}

	.hero-offer {
		margin-bottom: 40px;
	}
	.hero-warranty {
		margin-left: 0;
		max-width: 135px;
	}
	.hero-warranty:after {
		background: url(./../img/hero/mobile-hero-arrow.png);
		background-repeat: no-repeat;
		width: 70px;
		height: 100px;
		top: -30px;
		left: 90px;
	}
	.hero-diploma {
		margin-right: 0;
		max-width: 135px;
	}








	.syndrome {
		flex-direction: column;
	}


	.syndrome__title {
		font-size: 24px;
		margin-bottom: 15px;
		max-width: 270px;
		margin-left: auto;
		margin-right: auto;
	}
	.syndrome__img {
		margin-top: 0;
		margin-left: auto;
		margin-right: -5px;
	}
	.syndrome-slider {
		max-width: 320px;
	}
	.swiper-button-next.syndrome-button-next {
		right: 0;
	}


	




	.after-item-wrapper {
		display: flex;
		flex-direction: column;
	}
	.before-after-slide-inner {
		flex-direction: column;
	}
	.look-slide__title {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.look-before-text {
		max-width: 280px;
		margin-left: 40px;
	}
	.look__img-bad {
		margin-top: 90px;
	}
	.look-list__item--bigger-margin {
		margin-bottom: 20px;
	}
	.look-list__item {
		font-size: 16px;
	}
	.after-item-wrapper {

	}
	.look-after-text {
		margin-left: 0;
	}
	.before-item-wrapper {
		display: flex;
		flex-direction: column;
	}
	.before-item-wrapper .before-after-slide-inner {
		flex-direction: column-reverse;
	}
	.look-img--good {
		max-width: 200px;
		margin-left: 40px;

	}
	.look-list--after {
		max-width: 280px;
		margin-left: auto;
	}
	.look-wood-small {
		transform: scale(0.8);
	}
	.look__machine {
		max-width: 120px;
		top: 0;
	}
	.look-machine--top.look__machine--moving {
		transform: translateX(70vw);
	}
	.before-after-slider__controller {
		left: 0;
		background: linear-gradient(0deg,#fff,hsla(0,0%,100%,.5),transparent);
	}
	.before-after-slider__controller:after {
		left: -50px;
		width: 90px;
		height: 60px;
		top: unset;
		bottom: 0;
	}
	.look__title:before {
		bottom: -850px;
	}

	.look__machine--bottom.look__machine--moving {
		  transform: translateX(-40vw) scaleX(-1);
	}

	.look-wood-word--bottom {
		background-position: 50px 50px;
	}




	.bad-marketing__title {
		font-size: 24px;
	}
	.bad-marketing {
		flex-wrap: wrap;
	}
	.bad-marketing-character {
		margin-bottom: 15px;
	}
	.bad-marketing-text p {
		font-size: 16px;
	}
	.bad-marketing-text__par {
		margin-bottom: 5px !important;
	}
	.bad-marketing-text__em {
		padding-left: 10px;
		border-left-width: 5px;
	}
	.bad-marketing-text__cta {
		text-align: center;
	}








	.about {
		display: flex;
		padding-left: 0;
		padding-right: 0;
		flex-wrap: wrap;
		max-width: 414px;
		width: 100%;
	}
	.about-wrapper {
		  background-position: -80px 960px;
		  background-size: 160%;
	}



	.about__title {
		text-align: center;
		font-size: 24px;
		padding-right: 10px;
		padding-left: 10px;
	}
	.about-descr {
		text-align: center;
	}

	.about-features {
		flex-wrap: wrap;
		flex-direction: row;
		order: 2;
		justify-content: space-between;
		z-index: 3;
		margin-top: -60px;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.about-features__item  {
		max-width: 125px;
		width: 100%;
	}
	.about-features-wrap--single {
		order: -1;
	}
	.about-features-wrap-1 {
		max-width: 285px;
		margin-bottom: 25px;
	}
	.about-features-wrap-2 {
		max-width: 295px;
		margin-bottom: 25px;
	}
	.about-features-wrap-3 {
		max-width: 295px;
		margin-bottom: 25px;
	}
	.about-features-wrap-4 {
		max-width: 295px;
		margin-bottom: 25px;
	}

	.about-img {
		position: relative;
		order: 1;
		z-index: 1;
		max-height: 535px;
		width: 390px;
		overflow: hidden;
		right: 0;
		top: -270px;
		top: -190px;
	}
	.about-img:after {
		background: linear-gradient(180deg,transparent 80%,#080808 95%, #080808 100%);
	}
	.about__img {
		margin-left: -160px;
		width: 640px;
	}
	.about-circles {
		width: 450px;
		height: 450px;
		margin-left: -65px;
		top: 460px;
	}
	.text__golden.text__bold.about__name,
	.about__description {
		top: -200px;
		font-size: 22px;
	}
	.about-description {
		top: 473px;
	}

	.about__description {
		left: -20px;
		z-index: 2;
		top: -190px;
	}
	.about__description::before {
		content: '';
		display: block;
		height: 20px;
		width: 100%;
		background-color: #080808;
		top: -20px;
	}
	.pop-trigger--nastya {
		top: 65%;
	}
	.about-descr {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 20px;
	}












	.base__title {
		font-size: 24px;
	}
	.botton__nuclear,
	.title__button,
	.button__elective {
		font-size: 24px;
	}
	.base__subtitle {
		font-size: 20px;
		max-width: 230px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
	}

	.base-img {
		order: 1;
		margin-left: 0;
		margin-right: 0;
	}
	.base-circles {
		bottom: 80px;
		max-width: 320px;
		width: 320px;
		height: 320px;
		left: 0;
		right: 0;
	}
	.base-slider__title {
		margin-left: auto;
		margin-right: auto;
	}
	.base-slider-1-wrapper,
	.base-slider-2-wrapper {
		max-width: 320px;
		margin-bottom: 50px;
	}

	.base-slider-2-wrapper {
		order: 2;
	}
	.base-slide-content {
		max-width: 230px;
		margin-left: auto;
		margin-right: auto;
		padding-right: 0;
		padding-left: 0;
	}
	.base-slider-2-wrapper .base-slide-content {
		padding-left: 0;
		padding-right: 0;
	}
	.base-slide-result {
		max-width: 100%;
	}











	.programm__title {
		font-size: 24px;
		text-transform: none;
	}
	.programm-drag-wrapper {
		border: 1px dashed #2b2b2b;
	}
	.programm-drag {
		border: none;
	}
	.programm-about {
		padding-top: 0;
	}
	.programm__content {
		font-size: 18px;
	}
	.programm-drag-1,
	.programm-drag-2,
	.programm-drag-3,
	.programm-drag-4 {
		background: none;
	}
	.programm-drag-wrapper-1 {
		background: url(./../img/programm/tablet-cert-bg-1.png);
		background-repeat: no-repeat;
		background-position: center top;
		padding-bottom: 30px;
	}
	.programm-drag-wrapper-2 {
		background: url(./../img/programm/tablet-cert-bg-2.png);
		background-repeat: no-repeat;
		background-position: center top;
		padding-bottom: 30px;
	}
	.programm-drag-wrapper-3 {
		background: url(./../img/programm/tablet-cert-bg-3.png);
		background-repeat: no-repeat;
		background-position: center top;
		padding-bottom: 30px;
	}
	.programm-drag-wrapper-4 {
		background: url(./../img/programm/tablet-cert-bg-4.png);
		background-repeat: no-repeat;
		background-position: center top;
		padding-bottom: 30px;
	}
	
	.button-drag-1 {
		font-size: 14px;
	}

	.programm-drag--4-container {
		padding-left: 0;
		margin-right: 0;
	}
	.programm-about__title {
		margin-bottom: 15px;
	}
	.programm__subtitle {
		font-size: 18px;
		line-height: 1.2em;
	}
	.programm-drag-4 .programm__content {
		font-size: 18px;
	}

	.drag-result {
		padding-top: 10px;
		max-width: 310px;
	}
	.drag-result__title {
		font-size: 22px;
	}
	.programm__content-result {
		font-size: 20px;
	}
	.img__case {
		max-width: 170px;
	}













	.learn-text__title {
		font-size: 24px;
		margin-bottom: 14px;
	}
	.learn-text {
		max-width: 320px;
	}
	.learn-faq {
		width: 100%;
	}
	.learn-text__subtitle {
		font-size: 24px;
	}
	.img-bogdan {
		max-width: 230px;
	}















	.get__title {
		font-size: 24px;
		margin-bottom: 150px;
	}

	.get-features-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.get-circle--mobile {
		display: block;
		transform: scale(2);
		top: 220px;
	}
	.get-circle--regular {
		display: none;
	}
	.get-features-item {
		margin-bottom: 35px;
	}
	.get-features-wrapper-1,
	.get-features-wrapper-2,
	.get-features-wrapper-3,
	.get-features-wrapper-4 {
		margin-bottom: 0;
	}

	.get-features-item-last {
		margin-top: 40px;
	}

	.get-logo {
		top: -180px;
		max-width: 270px;
	}













	.testimonials-wrapper {
		margin-top: 0;
		padding-top: 40px;
	}
	.testimonials__title {
		font-size: 30px;
		margin-bottom: 20px;
	}
	.testimonials-stats {
		margin-bottom: 0;
	}
	.testimonials-list {
		justify-content: center;
	}
	.testimonials-item {
		margin-top: 130px;
	}
	.testimonials-all-cases {
		max-width: 280px;
	}
	.partners-wrapper {
		padding-top: 30px;
	}
	.partners-list {
		justify-content: center;
	}
	.partner-item {
		max-width: 130px;
		max-height: 130px;
		margin-left: auto;
		margin-right: auto;
	}
	.partner__img {
		max-width: 60px;
	}
	.partners__subtitle {
		margin-top: 0;
	}

















	.pricing__title {
		font-size: 30px;
		max-width: 190px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 10px;
	}
	.pricing__price {
		font-size: 36px;
		margin-bottom: 10px;
	}
	.pricing__descriptor {
		font-size: 30px;
	}
	.pricing-scheme {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.pricing-in {
		margin-right: 0;
		margin-bottom: 120px;
		max-width: 170px;
	}
	.pricing-in:before {
		left: 60px;
		bottom: -139px;
		transform: scale(.6) rotate(25deg);
	}
	.pricing-card {
		position: static;
	}

	.pricing-out {
		display: flex;
		flex-direction: column;
	}
	.pricing-action-out {
		order: -1;
	}

	.scheme__project {
		transform: translate(-20px, 90px) rotate(-65deg);
	}
	.scheme__skillup {
		transform: translate(30px,80px) rotate(21deg);
	}
	.scheme__hacks {
		transform: translate(150px,90px) rotate(-36deg);
	}
	.scheme__pro {
		transform: translate(160px, 250px) rotate(17deg);
	}
	.scheme__tutorials {
		transform: translate(10px,190px) rotate(-5deg);
	}
	.scheme__checklists {
		transform: translate(240px,135px) rotate(-5deg);
	}
	.scheme__mindmaps {
		transform: translate(45px,230px) rotate(-40deg);
	}


	.pricing-out::before {
		content: url(./../img/scheme/mobile-pricing-arrow-in.png);
		transform: scale(-.6,.6);
		bottom: unset;
		top: -120px;
		right: 100px;
	}

	.pricing-action-out {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.pricing-action-out--color-mobile {
		color: var(--c-primary);
	}

	.pricing-button {
		margin-top: 0;
	}
















	.team__title {
		font-size: 30px;
	}
	.team__subtitle {
		font-size: 24px;
		max-width: 180px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
	.team-bullet {
		max-width: 260px;
		text-align: center;
	}

	.team-client-list {
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 230px;
		margin-left: auto;
		margin-right: auto;
	}
	.team-clients__title {
		font-size: 20px;
	}
	.team-clients-item {
		margin-bottom: 20px;
	}










	.changes {
		background-size: cover;
		padding-bottom: 60px;
	}
	.changes__title {
		font-size: 26px;
	}
	.changes-course-list {
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}
	.changes-course {
		margin-bottom: 32px;
	}

	.changes__subtitle {
		margin-bottom: 20px;
	}
	.changes-offer__title {
		max-width: 230px;
		text-align: center;
	}









	.footer {
		justify-content: center;
	}
	.footer-socials {
		margin-left: auto;
		margin-right: auto;
		order: -1;
		margin-bottom: 30px;
	}
	.footer-socials-item {
		max-width: 80px;
		width: 100%;
		box-sizing: border-box;
	}
	.footer-socials-item__icon--tiktok {
		height: 90%;
	}
	.footer-socials-item__icon--vk {
		height: 74%;
	}
	.footer-socials-item__icon--telegram {
		transform: scale(1.3);
	}
	.footer-info {
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.burger-menu-wrapper {
		background: rgba(14, 14, 14, 0.949);
	}
	.burger-menu-links {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.burger-menu-links__link {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 48px;
		font-family: 'Akrobat';
		letter-spacing: 0.2em;
	}
	.burger-menu {
		background: none;
		padding: 0;
	}
	.burger-menu-wrapper .pop-closer {
		display: none !important;
	}
	.pop {
		min-width: 300px;
		max-width: 90vw;
		padding: 30px 20px;
	}
	.pop-about-psycho .pop__text {
		font-size: 14px;
	}
	.pop-about-psycho .pop__title {
		margin-bottom: 10px;
	}
	.pop__img-psycho {
		max-width: 170px;
		bottom: -5%;
		right: -7%;
	}
	.pop-closer--inner {
		top: 5px;
		right: 5px;
	}
	.psycho-pics {
		overflow-x: auto
	}
	.psycho-pic {
		margin-right: 10px;
	}
	.pop-about-combos .pop-inner {
		flex-direction: column;
	}
	.pop-about-combos .pop__img {
		margin-left: 0;
	}
	.pop-about-chats .pop-inner {
		flex-direction: column-reverse;
	}
	.pop-about-chats .pop__img {
		max-width: 160px;
		margin-left: auto;
		margin-right: auto;
	}
	.pop-about-chats .pop__text {
		text-align: left !important;
	}
	.pop-about-database .pop__img {
		max-width: 130px;
	}
	.pop-about-classes .pop__img {
		margin-top: -30px;
		max-width: 180px;
	}
	.pop-about-giving .pop__img{
		max-width: 184px;
	}
	.pop__img--egor-1,
	.pop__img--egor-2,
	.pop__img--egor-3 {
		max-width: 100%;
		width: 100%;
	}
	.pop-mikhail .pop__text{
		font-size: 16px;
		margin-bottom: 10px;
	}
	.programm-slider {
		max-width: 300px;
	}

}

