@media (min-width: 1300px) {
	.swiper-button-prev.base-2-button-prev,
	.swiper-button-next.base-2-button-next {
		top: 35%;
	}
}

@media (min-width: 1400px) {
	.pop-nastya {
		max-height: 700px;
		overflow: visible;
	}
}
@media (min-width: 1800px) {
	.look__machine--moving {
		transform: translateX(1520px);
	}
}
