@media (min-width: 1300px) {
	.pop-testimonials {
		max-width: 600px;
	}
}

@media (min-width: 1400px) {
	.pop-nastya {
		max-height: 700px;
		overflow: visible;
	}
}
@media (min-width: 1800px) {
	.look__machine--moving {
		transform: translateX(1520px);
	}
}
