@import 'modal/modal.css';



@font-face {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 300;
	font-display: swap;
    src: url('../fonts/Akrobat-Light.woff2') format('woff2');
    src: url('../fonts/Akrobat-Light.woff') format('woff');
}
@font-face {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 400;
	font-display: swap;
    src: url('../fonts/Akrobat-Regular.woff2') format('woff2');
    src: url('../fonts/Akrobat-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 500;
	font-display: swap;
    src: url('../fonts/Akrobat-SemiBold.woff2') format('woff2');
    src: url('../fonts/Akrobat-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 600;
	font-display: swap;
    src: url('../fonts/Akrobat-Bold.woff2') format('woff2');
    src: url('../fonts/Akrobat-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 700;
	font-display: swap;
    src: url('../fonts/Akrobat-ExtraBold.woff2') format('woff2');
    src: url('../fonts/Akrobat-ExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 900;
	font-display: swap;
    src: url('../fonts/Akrobat-Black.woff2') format('woff2');
    src: url('../fonts/Akrobat-Black.woff') format('woff');
}
@font-face {
    font-family: 'Norwester';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/mr_NorwesterG.woff2') format('woff2');
    src: url('../fonts/mr_NorwesterG.woff') format('woff');
}


/* 
 * === Table of content ===
 *
 * 1. Globals
 *
 * 2. Typography
 *
 * */


/* 
 * ==========
 * 1. Globals
 * ==========
 * */
:root {
    --c-font: #fff;
    --c-font-2: #b9b9b9;
		--c-font-primary: #d59b64;
		--c-font-golden: #eec30a;
		--c-font-silver: #a4a4a4;
		--c-primary: #dca067;
		--c-secondary: #985e36;
		--bg-grad-ltr:  linear-gradient(90deg, var(--c-primary) 0%, var(--c-secondary) 100%);
		--bg-grad-rtl: linear-gradient(90deg, var(--c-secondary) 0%, var(--c-primary) 100%);
		--bg: #080808;
		--ls-text: 0.025em;


		--f-title-1: 40px;
		--f-title-2: 36px;
		--f-regular: 18px;

    margin: 0;
    padding: 0;
}

body {
	font-family: 'Akrobat', sans-serif;
	letter-spacing: var(--ls-text);
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--c-font);
		background-color: var(--bg);
}

p, ul, ol, li, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	letter-spacing: 0.025em;
}
main {
	overflow: hidden;
}
picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	width: 100%;
}
picture img {
	width: 100%;
	object-fit: cover;
	object-position: top;
}

.container {
	/* max-width: 1230px; */
	max-width: 1170px;
	margin: 0 auto;
	padding-left: 15px;
	padding-left: 30px;
	padding-right: 15px;
	padding-right: 30px;
}

button {
  cursor: pointer;
}
.button-primary {
	display: block;
  box-sizing: border-box;
  border: none;
	border-radius: 8px;
	background: var(--bg-grad-ltr);
	color: #fff;
  transition: all 0.3s;
	text-transform: uppercase;
	font-family: 'Akrobat', sans-serif;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 0.05em;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-right: 30px;
	padding-left: 30px;

	text-decoration: none;
	text-align: center;
}

.button-primary:hover {
	box-shadow: 0px 0px 10px 5px rgba(220,160,103,0.91);
	box-shadow: 0px 0px 10px 5px rgba(152,94,54,0.91);
	background: var(--bg-grad-rtl);
	transition: all 0.3s;
}

.input-wrapper {
	max-width: 370px;
	margin-left: auto;
	margin-right: auto;
}
.input-regular {
	width: 100%;
	height: 60px;
	border: 1px solid #1b1b1b;
	border-radius: 12px;
	background: #1b1b1b;
	font-family: 'Akrobat', sans-serif;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	letter-spacing: var(--ls-text);
	color: #fff;
	margin-bottom: 20px;
}
.input-regular:not[value=""] {
	color: rgba(255,255,255,0.5);
}
.input-regular:focus {
	outline: none;
	border: 1px solid #fff;
	/* color: #fff; */
}

a:hover,
a:focus,
button:hover,
button:focus {
	outline: none;
}


@keyframes glowing {
	0% {
		box-shadow: none;
		background: none;
	}

	50% {
		box-shadow: 0px 0px 10px 10px rgba(220,160,103,0.85);
		background:rgba(218,158,101,0.5);
	}

	100% {
		box-shadow: none;
		background: none;
		/* background:rgba(218,158,101,0.5); */
		/* box-shadow: 0px 0px 10px 10px rgba(220,160,103,0.85); */
	}
}

/* .pop-trigger { */
/*   width: 16px; */
/*   height: 16px; */
/*   border: none; */
/*   position: absolute; */
/*   right: 0; */
/*   left: 0; */
/*   z-index: 3; */
/*   transition: all 0.3s; */
/*   background: var(--c-primary); */
/*   border-radius: 100%; */
/*   animation: 4s linear 2s infinite glowing; */
/* } */
/* .pop-trigger::before { */
/*   content: ''; */
/*   display: block; */
/*   position: absolute; */
/*   top: -5px; */
/*   left: -5px; */
/*   margin-left: auto; */
/*   margin-right: auto; */
/*   border: 3px solid var(--c-primary); */
/*   width: 20px; */
/*   height: 20px; */
/*   border-radius: 100%; */
/*    */
/* } */
/* .pop-trigger::after { */
/*   content: ''; */
/*   display: block; */
/*   position: absolute; */
/*   top: -9px; */
/*   left: -9px; */
/*   width: 30px; */
/*   height: 30px; */
/*   border-radius: 100%; */
/*   border: 2px solid var(--c-primary); */
/*   [> background: linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(255,255,255,.5) 100%); <] */
/*   background-blend-mode: overlay; */
/* } */


.pop-trigger {
	width: 28px;
	height: 28px;
	border-radius: 100%;
	border: none;
	background: linear-gradient(0deg, rgba(218,158,101,1) 0%, rgba(240,214,189,1) 100%);
	position: absolute;
	z-index: 3;
}
.pop-circle-1 {
	position: absolute;
	top: 2px;
	left: 2px;
	display: block;
	z-index: 1;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border: 2px solid #2b2b2b;
}
.pop-circle-2 {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	border: 2px solid #2b2b2b;
	position: absolute;
	top: 7px;
	left: 7px;
	z-index: 1;
}
.pop-circle-3 {
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background: #2b2b2b;
	position: absolute;
	top: 12px;
	left: 12px;
	z-index: 1;
}
.pop-hover-glower {
	position: absolute;
	border-radius: 100%;
	display: block;
	left: 0;
	right: 0;
	top: 0;
	width: 28px;
	height: 28px;
	z-index: 5;
	background-blend-mode: multiply;
	animation: 2s linear infinite glowing;
	transition: all 0.3s;
}


.has-popup {
	position: relative;
}
.pop-trigger:hover .pop-circle-3 {
	background: var(--c-primary);
}
.pop-trigger:hover .pop-hover-glower {
	box-shadow: 0px 0px 15px 10px rgba(220,160,103,0.95);
	background: rgba(220,160,103,0.45);
	/* background:rgba(218,158,101,0.5); */
	transition: all 0.3s ;
	animation: none;
}
.pop-trigger:hover {
}
.pop-trigger--ilnaz {
	left: unset;
	top: 45%;
	right: 21%;
}
.pop-trigger--nastya {
	left: unset;
	top: 25%;
	right: 34%;
}
.pop-trigger--egor {
	left: unset;
	top: 18%;
	right: 17%;
}
.pop-trigger--mikhail {
	left: unset;
	top: 25%;
	right: 0;
}
.pop-trigger--dim {
	left: unset;
	top: 24%;
	right: 12%;
}
.pop-trigger--nikolai {
	left: unset;
	top: 23%;
	right: 19%;
}
.pop-trigger--bogdan {
	left: unset;
	top: 21%;
	right: 15%;
}

.title__button {
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	letter-spacing: var(--ls-text);
	background: none;
	border: none;
	font-size: 40px;
	position: relative;
	padding-right: 0;
	padding-left: 0;
}
.text__silver.title__button::after {
	background-color: var(--c-font-silver);
}
.text__golden.title__button::after {
	background-color: #eec39a;
}
.text__centered {
	text-align: center;
}
.text__golden.title__button::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	display: block;
	width: 100%;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
}
.text__silver.title__button::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	display: block;
	width: 90%;
	height: 2px;
	background-color: var(--c-font-silver);
	margin-left: auto;
	margin-right: auto;
}


/* Typography */
.section__title {
	font-size: 36px;
	font-family: "Norwester" sans-serif;
	text-align: center;
	text-transform: uppercase;
}
.section__subtitle {
	font-size: 36px;
}
p {
	font-size: 18px;
	font-family: 'Akrobat', sans-serif;
	letter-spacing: 0.025em;
}
a {
	color: #fff;
	cursor: pointer;
	font-family: 'Akrobat', sans-serif;
}
.text__golden {
	color: var(--c-font-primary);
}
.text__right {
	text-align: right;
}
.text__silver {
	color: var(--c-font-silver);
}
.text__italic {
	font-family: 'Akrobat', sans-serif;
	font-style: italic;
}
.text__bold {
	font-weight: 600 !important;
	font-family: 'Akrobat', sans-serif;
}
.text__bold-underline {
	position: relative;
}
.text__bold-underline::after {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	height: 2px;
	width: 95%;
	right: 0;
	background: var(--c-primary);


}
.text__extrabold {
	font-weight: 700 !important;
	font-family: 'Akrobat', sans-serif;
}
span {
	line-height: inherit;
	font-size: inherit;
	font-family: 'Akrobat', sans-serif;
}






/* Contorls */
.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: inherit;
}
.swiper-button-next,
.swiper-button-prev {
	font-size: 16px;
	border: 2px solid var(--c-primary);
	border-radius: 12px;
	color: var(--c-primary);
	max-height: 35px;
}
.swiper-button-next {
	right: 0;
}
.swiper-button-prev {
	left: 0;
}


.button-thirdly {
	background: none;
	padding: 0;
	border: none;
	border-bottom: 1px solid #a4a4a4;
	font-size: 18px;
	line-height: 1;
	color: #a4a4a4;
}

/* 
 * ==========
 * 2. 
 * ==========
 * */


/* Header */
.header-wrapper {
	position: relative;
	z-index: 2;
}
.header {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	margin-top: -15px;
}
.header-logo {
	margin-right: 30px;
	max-width: 270px;
	max-width: 230px;
}
.logo {
	width: 100%;
}

.nav-item {
	letter-spacing: 0.200em;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 55px;
	font-family: 'Akrobat', sans-serif;
}
.nav-item:hover {
	text-decoration: underline;
	transition: all 0.3s;
}

.header-contact {
	margin-left: auto;
	flex-direction: column;
	display: flex;
	align-items: center;
	margin-right: 5px;
	margin-top: 25px;
}
.header-phone {
	font-size: 18px;
	letter-spacing: 0.2em;
	margin-bottom: 9px;
	text-decoration: none;
	letter-spacing: 0.18em;
	text-decoration: none;
	font-family: 'Akrobat', sans-serif;
	border-bottom: none;
	color: #fff;
	position: relative;
}
.header-phone::after {
	content: attr(end);
	position: absolute;
	right: 0;
	color: var(--c-primary)
}
.button__callback {
	font-size: 14px;
	letter-spacing: 0.1em;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Hero */
.hero-wrapper {
	background: url(./../img/learn/learn-bg.png), var(--bg);
	padding-bottom: 185px;
	background-size: contain;
	background-repeat: no-repeat;

}
.hero {
	position: relative;
}
.hero__character-left {
	position: absolute;
	left: -250px;
	top: -250px;
	max-width: 680px;
	z-index: 1;
}
.hero__character-right {
	position: absolute;
	right: -285px;
	right: -245px;
	top: -235px;
	max-width: 700px;
	z-index: 1;
}

.hero-offer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
	position: relative;
	z-index: 2;
}
.hero__prephrase {
	font-size: 20px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 500;
	letter-spacing: 0.1em;
	margin-bottom: 20px;
}
.hero__title {
	letter-spacing: 0.1em;
	font-size: 40px;
	line-height: 1.2em;
	margin-bottom: 65px;
}
.hero__tooltip {
	position: relative;
	cursor: pointer;
}
.hero__tooltip::before {
	display: block;
	position: absolute;
	/* bottom: -20px; */
	top: -10px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid #d59b64;
}
.hero__tooltip::after {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	/* bottom: -80px; */
	top: -70px;
	left: 0;
	right: 0;
	font-size: 18px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 500;
	letter-spacing: var(--sl-text);
	color: #080808;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 25px;
	padding-left: 25px;
	border-radius: 12px;
	background: #d59b64;
	height: 60px;
	text-transform: none;
}
.hero__tooltip:hover::after {
	content: attr(data-tooltip);
}
.hero__tooltip:hover::before {
	content: '';
}
.hero__subtitle {
	font-size: 36px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.2em;
	margin-bottom: 60px;
}
.hero__caption {
	text-align: center;
	font-weight: 300;
	margin-bottom: 25px;
}

.hero-bullets {
	display: flex;
	justify-content: space-between;
	max-width: 971px;
	max-width: 921px;
	margin-left: auto;
	margin-right: auto;
}

.hero-warranty {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.hero-warranty::after {
	content: '';
	background: url(./../img/hero/hero-arrow.png);
	display: block;
	width: 300px;
	height: 230px;
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
	position: absolute;
	top: -30px;
	left: 190px;
	/* transform: scale(1.5, 1); */
}
.hero-warranty__img {
	max-width: 130px;
	width: 100%;
	margin-bottom: 10px;
}

.hero-diploma {
	margin-top: -50px;
	margin-right: 20px;
}
.hero-diploma__img {
	max-width: 250px;
	width: 100%;
	margin-bottom: 10px;
}

.hero__bullet-text {
	text-align: center;
	letter-spacing: 0.025em;
	font-weight: 300;
}












/* Syndorme */
.syndrome {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background: url(./../img/syndrome/syndrome-bg.png);
}
.syndrome__title {
	transform: translateX(165px);
	font-size: 40px;
}
.syndrome__img {
	max-width: 571px;
	margin-left: 100px;
	margin-right: 25px;
}
.syndrome-slider {
	max-width: 400px;
	margin-left: auto;
}
.syndrome-slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
}
.syndrome-slide__title {
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 700;
	color: var(--c-font-primary);
	font-family: 'Akrobat', sans-serif;
	margin-bottom: 45px;
}
.syndrome-slide__item {
	list-style: none;
	text-align: center;
	max-width: 270px;
	/* max-width: 250px; */
	font-family: 'Akrobat', sans-serif;
	font-size: 20px;
	letter-spacing: 0.025em;
	position: relative;
	margin-bottom: 50px;
}
.syndrome-slide__item::before,
.syndrome-slide__item::after {
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: -15px;
	content: '';
	width: 26px;
	height: 2px;
	background: var(--c-font-primary);
	margin-left: auto;
	margin-right: auto;
	transform: rotate(45deg);
}
.syndrome-slide__item::before {
	transform: rotate(-45deg);
}
.swiper-button-prev.syndrome-button-prev,
.swiper-button-next.syndrome-button-next {
	top: 23%
}








/* Bad marketing */
.bad-marketing-wrapper {
	padding-top: 70px;
	padding-bottom: 50px;
}
.bad-marketing {
	display: flex;
	/* justify-content: space-between; */
}
.bad-marketing__title {
	margin-bottom: 60px;
}

.bad-marketing-character__text {
	position: relative;
	display: flex;
	letter-spacing: var(--ls-text);
	font-size: 18px;
	margin-bottom: 20px;
}


@keyframes typewriter-cursor {
	0% {
		border-right: 1px solid var(--c-primary);
	}
	50% {
		border-right: 1px solid transparent;
	}
	100% {
		border-right: 1px solid var(--c-primary);
	}
}

.bad-marketing-character__spec {
	margin-left: 5px;
	padding-right: 3px;
	display: inline-block;
	animation: 1.5s typewriter-cursor infinite;
}
.bad-marketing-character__text::before {
	content: '?';
	position: relative;
	left: 0;
	display: inline-block;
	height: 24px;
	width: 24px;
	font-size: 14px;
	font-weight: 900;
	border: 1px solid #fff;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-right: 14px;
	line-height: 1;
	font-style: normal;
}

.bad-marketing__img {
	max-width: 500px;
	margin-right: 35px;
}
.bad-marketing-text {
	max-width: 520px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Akrobat', sans-serif;
	font-weight: 300;
}
.bad-marketing-text p {

	font-size: 22px;
	letter-spacing: var(--ls-text);
	margin-bottom: 20px;
}
.bad-marketing-text p:first-child {
	margin-bottom: 30px;
}
.bad-marketing-text__em {
	border-left: 8px solid var(--c-font-primary);
	font-weight: 700;
	padding-left: 8px;
	padding-bottom: 4px;
	font-style: normal;
	margin-bottom: 20px;
}
.bad-marketing-text h3 {
	margin-top: 40px;
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	letter-spacing: 0.020em;
}









/* Look */
.look-wood {
	background: url(./../img/look/big-wood.png);
	height: 125px;
	width: 100%;
	position: relative;
}
.look-wood-small {
	position: relative;
	max-width: 300px;
	width: 100%;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	background: url(./../img/look/small-wood.png);
}
.look-wood-word {
	transition: all 3s;
}
.look-wood-word--top {
	background: url(./../img/look/vasya-loh.png);
	width: 100%;
	height: 100%;
	background-size: 85%;
	background-position: 40px 40px;
	background-repeat: no-repeat;
  /*  */
	/* object-fit: cover; */
	/* object-position: 100% center; */
	/* width: 227%; */
	/* transform: scale(0.4); */
	/* position: absolute; */
	/* left: -180px; */
	/* top: 10px; */
}
.look-wood-word--top.look-word--effect {
	opacity: 0;
	/* width: 0; */
	/* left: 0; */
	transition: 2.3s all;
	/* object-position: 900px center; */
	/* transition: 2s all; */
}






.look__machine {
	max-width: 300px;
	position: absolute;
	top: -70%;
	z-index: 10;
	transition: all 3s;
}
.look__machine--bottom {
	transform: translateX(1200px) scaleX(-1);
}
.look__machine--moving {
	transform: translateX(950px);
}
.look__machine--bottom.look__machine--moving {
	 transform: translateX(0) scaleX(-1);
}





.look {
	padding-top: 75px;
}
.look__title {
	text-transform: none;
	margin-bottom: 50px;
	position: relative;
}


.before-after-slider {
	width: 100%;
	max-width: 936px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: visible;

	/* border: 3px solid red; */
}
.look__title::before {
	content: '';
	display: block;
	height: 12px;
	width: 80%;
	border-radius: 12px;
	position: absolute;
	bottom: -110px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(90deg, #929292 0%, #fff 100%) ;
	z-index: 6;
}
.before-after-slider__controller {
	margin-bottom: 100px;
	position: absolute;
	z-index: 7;
	top: 0;
	/* left: 50%; */
	left: 50px;
	height: 100%;

	width: 4px;
	background: #fff;
	background: linear-gradient(180deg, rgba(255,255,255,1), rgba(255,255,255,0.5), transparent );
	touch-action: pan-y;
	-ms-touch-action: pan-y;
	cursor: pointer;
	
}

@keyframes slider-controller {
	0% {
	}
	45% {
		transform: translateX(-40px);
	}
	80% {
		/* transform: translateX(10px); */
	}
	100% {
		transform: translateX(0);
	}
}

.before-after-slider__controller--preview:hover {
	animation: none;
	/* transition: 0.3s all; */
}
.before-after-slider__controller--preview {
	animation: 2.5s slider-controller 5s alternate;
	/* transition: 0.3s all; */
}
.before-after-slider__controller::after {
	content: '';
	display: block;
	background: url(./../img/look/machine.png);
	background-size: cover;
	width: 110px;
	height: 70px;
	position: absolute;
	left: -60px;
	top: 0;
}

.before-section {
	position: absolute;
	height: 100%;
	width: 50%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 5;
	/* background: url(./../img/look/look-bg.png); */
	background: var(--bg);
	background-size: 100vw;
	background-position: left -30px;
}
.before-after-slide-inner {
	display: flex;
	justify-content: flex-start;
}
.before-item-wrapper {
	max-width: 600px;
	position: absolute;
	left: 0;
	right: 0;
	/* margin-left: auto; */
	/* margin-right: auto; */
}
.look-wrapper {
	/* background: url(./../img/look/look-bg.png); */
	background-position: center;
	/* background: var(--bg); */
	/* background-size: cover; */
	background-repeat: no-repeat;
}
.look__img-bad {
	max-width: 240px;
	margin-right: 50px;
	margin-left: -50px;
	margin-left: 70px;
  object-fit: contain;
  object-position: bottom;
}
.look-slide__title {
	font-family: 'Akrobat', sans-serif;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 40px;
	letter-spacing: var(--ls-text);
	margin-top: 150px;
	margin-top: 200px;
}
.look-list__item {
	font-size: 22px;
	font-weight: 300;
	letter-spacing: var(--ls-text);
	list-style: none;
	position: relative;
	margin-bottom: 20px;
	
}
.look-list__item::before,
.look-list__item::after {
	position: absolute;
	display: block;
	left: -35px;
	top: 15px;
	content: '';
	width: 26px;
	height: 2px;
	background: var(--c-font-primary);
	margin-left: auto;
	margin-right: auto;
	transform: rotate(45deg);
}
.look-list__item::before {
	transform: rotate(-45deg);
}


.after-section {
	display: flex;
	align-items: flex-start;
	/* background: url(./../img/look/look-bg.png); */
	background: var(--bg);
	/* background-size: 1176px; */
	background-size: 100vw;
	background-position: right -30px;
	padding-bottom: 50px;
}
.look-after-text {
	margin-left: 250px;
}
.look-list__item--after::after {
	width: 13px;
	top: 19px;
	left: -41px
}
.look__img--good {
	max-width: 380px;
}
.look-wood--bottom {
	border-top: 30px solid var(--bg);
}
.look-list__item--bigger-margin {
	margin-bottom: 50px;
}
.look-img--good {
	margin-left: -200px;
	margin-left: -180px;
	margin-left: -150px;
	margin-top: 60px;
}

.look-wood--bottom .look-wood-small {
	max-width: 700px;
	background-repeat: no-repeat;
	background: url(./../img/look/big-miniwood.png);
}
.look-wood-word--bottom {
	background: url(./../img/look/vasya-marketolog.png);
	width: 100%;
	height: 100%;
	background-size: 85%;
	background-position: 60px 40px;
	background-repeat: no-repeat;
	opacity: 0;
}
.look-wood-word--bottom.look-word--effect {
	opacity: 1;
	transition: 5s all;
}







.about-wrapper {
	background: url(./../img/about/who-is-bg.png);
	background-size: 60%;
	background-position: 120px 300px;
	background-repeat: no-repeat;
	overflow: hidden;
}
.about {
	padding-top: 100px;
	position: relative;
	padding-bottom: 100px;
}
.about__title {
	text-transform: none;
	padding-bottom: 25px;
	padding-right: 20px;
	padding-left: 20px;
	border-bottom: 5px solid var(--c-primary);
	margin-bottom: 30px;
	font-size: 40px;
}
.about-descr {
	max-width: 971px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 55px;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: var(--ls-text);
	font-weight: 300;
}


.about-features {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 900px;
	margin-right: auto;
	position: relative;
	z-index: 2;
}
.about-features-wrap {
	max-width: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}
.about-features-wrap-1 {
	max-width: 630px;
	margin-bottom: 80px;
}
.about-features-wrap-2 {
	max-width: 828px;
	margin-bottom: 105px;
}
.about-features-wrap-3 {
	max-width: 771px;
	margin-bottom: 60px;
}
.about-features-wrap-4 {
	max-width: 600px;
}
.about-features-wrap--single {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}
.about-features__item {
	background: none;
	border: none;
	max-width: 180px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 18px;
	color: #fff;
	transition: all 0.3s;
	position: relative;
	outline: none;
}
.about-features__item:hover .about-features__icon {
	transform: scale(1.2);
	transition: all 0.3s;
}
.about-features__item:hover .about-features__text {
	color: var(--c-primary);
	transition: all 0.3s;
	/* border-bottom: 2px solid var(--c-primary); */
}
.about-features__icon {
	position: relative;
	max-width: 70px;
	max-height: 50px;
	object-fit: contain;
	object-position: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	transition: all 0.3s;
}
.about-features__item::after {
	content: '';
	display: block;
	width: 1px;
	height: 0px;
	/* background-color: #fff; */
	position: absolute;
	left: 0;
	right: 0;
	top: 25px;
	margin-left: auto;
	margin-right: auto;
	z-index: -1;
	transition: 0.3s all;
}
.about-features__item:hover::after {
	box-shadow: 0px 0px 30px 20px rgba(220,160,103,0.91);
	transition: 0.3s all;
}
.about-features__text {
	position: relative;
	font-family: 'Akrobat', sans-serif;
	font-weight: 300;
	/* border-bottom: 2px solid #fff; */
	margin-bottom: 2px;
	letter-spacing: var(--ls-text);
	transition: all 0.3s;
	text-decoration: underline;

	/* background: linear-gradient(to bottom, transparent 22px, white 22px, white 24px, transparent 24px, transparent 38px, white 38px, white 40px, transparent 40px, transparent)	 */
}

.about-circles {
	max-width: 570px;
	width: 100%;
	height: 570px;
	position: absolute;
	/* top: 500px; */
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.about-circle {
	display: flex;
	border: 1px dashed #3e3e3e;
	border-radius: 100%;
	height: 85%;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
}
.about-circle-1 {
	width: 100%;
	height: 100%;
}
.about-circle-5 {
	width: 83%;
	height: 83%;
}
.about-circle-6 {
	width: 80%;
	height: 80%;
}
.about-description {
	max-width: 900px;
	position: absolute;
	top: 473px;
	left: 25px;
	width: 100%;
}
.about__description {
	position: absolute;
	left: 0;
	top: 225px;
	bottom: 0;
	right: 0;
	margin: auto;
	text-align: center;
	font-family: 'Akrobat', sans-serif;
	font-weight: 600;
	font-size: 30px;
}
.about__name {
	font-size: 36px;
	font-weight: 700;
	letter-spacing: var(--ls-text);
}

.about-img {
	max-width: 650px;
	width: 100%;
	position: absolute;
	right: -180px;
	top: 350px;
	z-index: 1;
}











.base-wrapper {
	background: url(./../img/base/base-bg.png);
	background-size: cover;
}
.base__title {
	font-size: 40px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	text-transform: none;
	letter-spacing: var(--ls-text);
	margin-bottom: 50px;
}
.base__subtitle {
	font-family: 'Akrobat', sans-serif;
	letter-spacing: var(--ls-text);
	text-align: center;
	font-size: 36px;
	margin-bottom: 30px;
}
.base-img {
	max-width: 390px;
	margin-left: -100px;
	margin-right: 50px;
	position: relative;
}
.base__img {
	position: relative;
	z-index: 2;
}
.base-circles {
	max-width: 420px;
	width: 420px;
	height: 420px;
	position: absolute;
	bottom: 90px;
	left: -20px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.2;
	z-index: 0;
}
.base-circle {
	display: flex;
	border: 2px dotted var(--c-primary);
	border-radius: 100%;
	height: 85%;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
}
.base-circle-1 {
	width: 100%;
	height: 100%;
}
.base-circle-5 {
	width: 83%;
	height: 83%;
}
.base-circle-6 {
	width: 80%;
	height: 80%;
}
.swiper-button-prev.base-1-button-prev,
.swiper-button-next.base-1-button-next,
.swiper-button-prev.base-2-button-prev,
.swiper-button-next.base-2-button-next {
	top: 120px !important;
}

.base {
	display: flex;
}
.base-slider-1-wrapper {
	max-width: 330px;
	margin-right: 70px;
	position: relative;
}
.base-slider-1-wrapper::after {
	content: '';
	position: absolute;
	right: -30px;
	top: 0;
	bottom: 0;
	display: block;
	height: 100%;
	max-height: 286px;
	width: 1px;
	border-left: 1px dashed #2b2b2b;
}
.base-slider-2-wrapper {
	max-width: 430px;
}
.base-slider__title {
	margin-left: 25px;
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 600;
	font-family: 'Akrobat', sans-serif;
	letter-spacing: var(--ls-text);
}
.base-slide-content {
	padding-left: 50px;
}
.base-slide__title {
	font-size: 20px;
	letter-spacing: var(--ls-text);
	margin-bottom: 15px;
	font-weight: 600;
}
.base-slide__item {
	max-width: 75%;
	font-family: 'Akrobat', sans-serif;
	font-weight: 300;
	margin-bottom: 10px;
	line-height: 1;
}
.base-slide-result {
	border-top: 1px dashed #2b2b2b;
	margin-top: 30px;
	padding-top: 15px;
	max-width: 80%;
}

.base-slide-result__title {
	font-size: 20px;
	margin-bottom: 0;
	list-style: var(--ls-text);
	font-family: 'Akrobat', sans-serif;
	font-weight: 600;
}
.base-slide-result__text {
	font-size: 18px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 300;
	line-height: 1.2;
}










.programm-wrapper {
	padding-top: 50px;
}


.programm__title {
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	margin-bottom: 40px;
}
.programm-drag-wrapper {
	border-top: 1px dashed #2b2b2b;
	border-bottom: 1px dashed #2b2b2b;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 70px;
}
.programm-drag {
	background: url(./../img/programm/programm-bg.png);
	background-size: cover;
	display: flex;
	justify-content: space-between;
	padding-top: 33px;
}
.programm-drag-2 {
	background: url(./../img/programm/programm-bg-2.png);
	background-size: cover;
}
.programm-drag-3 {
	background: url(./../img/programm/programm-bg-3.png);
	background-size: cover;
}
.programm-drag-4 {
	background: url(./../img/programm/programm-bg-4.png);
	background-size: cover;
}

.programm-certificates {
	max-width: 270px;
}
.programm-about {
	margin-left: 100px;
	padding-top: 82px;
	max-width: 430px;
	width: 100%;
}
.programm-about__title {
	font-size: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 20px;
}
.programm-about__title .text__golden {
	margin-bottom: 5px;
}
.programm__subtitle {
	font-size: 22px;
	font-weight: 600;
	line-height: 30px;
}
.programm__content {
	font-family: 'Akrobat', sans-serif;
	font-weight: 300;
}
.button-drag-more {
	margin-top: 40px;
	margin-bottom: 100px;
}
.programm__text--certificate {
	font-size: 18px;
	margin-bottom: 40px;
	line-height: 1;
	font-family: 'Akrobat', sans-serif;
	font-weight: 500;
}
.programm-certificates__text {
	font-size: 18px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 300px;
	letter-spacing: var(--ls-text);
	line-height: 5px;
}
.programm__skillcard-pic {
	max-width: 220px;
}
.programm__certificate-pic {
	max-width: 200px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.img__mikhail {
	max-height: 570px;
	height: 570px;
	width: 370px;
	object-fit: cover;
	object-position: top;
}
.img__dim {
	max-height: 600px;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
.drag-img {
	max-width: 340px;
}
.programm-drag-2 .programm-certificates,
.programm-drag-3 .programm-certificates {
	padding-top: 80px;
}
.programm-drag-4 .programm-certificates {
	padding-top: 50px;
}

.programm-drag-4 .programm-about {
	margin-left: 0;
	max-width: 570px;
	width: 100%;
}
.programm-drag-4 .programm__content {
	max-width: 520px;
	font-size: 22px;
}

.programm-drag-4 .programm-about__title {
	margin-bottom: 40px;
}
.drag-result__title {
	align-self: flex-start;
	margin-right: auto;
	width: 100%;
	text-align: left;
	display: block;
}
.img__case {
	max-width: 150px;
	margin-top: 20px;
}
.drag-result {
	max-width: 270px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
}
.programm__content-result {
	margin-bottom: 20px;
}

.programm__bonus {
	margin-top: 35px;
}










.learn-wrapper {
	background: url(./../img/learn/learn-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 60px;
}
.learn {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.learn-faq {
	display: flex;
	flex-direction: column;
	max-width: 350px;
	width: 350px;
	/* justify-content: center; */
	/* align-items: flex-start; */
	margin-right: 70px;
}
.learn-faq__item {
	border-bottom: none;
	text-align: left;
	font-size: 24px;
	line-height: 72px;
	position: relative;
	display: inline-block;
	color: #fffefe;
}
.learn-faq__name {
	position: relative;
}
.learn-faq__name::after {
/* .learn-faq__item::after { */
	content: '';
	position: absolute;
	bottom: -3px;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	/* background: #a4a4a4; */
	background: #fffefe;
	z-index: 1;
}
.learn-faq__item .text__golden {
	position: relative;
}
.learn-faq__item .text__golden::after {
	content: '';
	position: absolute;
	bottom: -3px;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	background: var(--c-primary);
	z-index: 2;

}
.learn-text {
	max-width: 550px;
	margin-right: auto;
}
.learn-text__title {
	text-align: left;
	font-size: 40px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	text-transform: none;
	margin-bottom: 70px;
}
.learn-text__bullet {
	margin-bottom: 40px;
	max-width: 470px;
}
.learn-text__subtitle {
	font-size: 36px;
	line-height: 1.2em;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	margin-bottom: 40px;
}
.img-bogdan {
	position: absolute;
	bottom: 0;
	right: 0;
}










.get-wrapper {
	padding-top: 60px;
}

.get__title {
	margin-bottom: 70px;
}

.get-features {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
}
.get-features-wrapper {
	justify-content: space-between;
	display: flex;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 2;
}
.get-features-wrapper-1 {
	max-width: 770px;
	margin-bottom: 100px;
}
.get-features-wrapper-2 {
	max-width: 971px;
	margin-bottom: 110px;
}
.get-features-wrapper-3 {
	max-width: 780px;
}
.get-features-item {
	max-width: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all 0.5s;
}
.get-features-item-first {
	margin-left: auto;
	margin-right: auto;
}
.get-features-item-last {
	margin-left: auto;
	margin-right: auto;
	margin-top: -90px;
}


.js-get-features-item--1.active {
	transform: translate(0, 400px);
	opacity: 0;
}
.js-get-features-item--2.active {
	transform: translate(300px, 220px);
	opacity: 0;
}
.js-get-features-item--3.active {
	transform: translate(-300px, 220px);
	opacity: 0;
}
.js-get-features-item--4.active {
	transform: translate(300px, 0);
	opacity: 0;
}
.js-get-features-item--5.active {
	transform: translate(-300px, 0);
	opacity: 0;
}
.js-get-features-item--6.active {
	transform: translate(300px, -250px);
	opacity: 0;
}
.js-get-features-item--7.active {
	transform: translate(-300px, -250px);
	opacity: 0;
}
.js-get-features-item--8.active {
	transform: translate(0, -330px);
	opacity: 0;
}




.get-features__img {
	/* max-width: 68px; */
	max-height: 55px;
	object-fit: contain;
	object-position: center;
	margin-bottom: 15px;
}

.get-features-item-last {
	max-width: 230px;
}
.get-features__text.text__extrabold {
	font-size: 24px;
}


.get-decor {
	position: absolute;
	z-index: 1;
	top: 20px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 770px;
	height: 770px;
}
.get-logo {
	max-width: 370px;
	position: absolute;
	left: 0;
	right: 0;
	top: 300px;
	margin-left: auto;
	margin-right: auto;
}
.get-circle--mobile {
	display: none;
}
.get-circle {
	/* max-width: 770px; */
	max-width: 100%;
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
}














.testimonials-wrapper {
	padding-top: 500px;
	margin-top: -420px;
	padding-bottom: 50px;
	background: url(./../img/testimonials/logo-bg.png);
}
.testimonials__title {
	margin-bottom: 45px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	text-transform: none;
}
.testimonials-stats {
	display: flex;
	justify-content: space-between;
	background-color: #121212;
	border-radius: 12px;
	padding: 14px 20px;
	margin-bottom: 10px;
}



.testimonials-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.testimonials-item {
	max-width: 270px;
	width: 100%;
	border-radius: 12px;
	border: 1px dotted var(--c-primary);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 140px;
	padding-bottom: 20px;
}
.testimonials__img {
	width: 200px;
	height: 175px;
	border-radius: 12px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -95px;
	margin-bottom: 20px;
}
.testimonials__text {
	max-width: 195px;
	margin-bottom: 15px;
}
.testimonials__more {
	font-family: 'Akrobat';
	font-style: italic;
	margin-top: auto;
	font-size: 18px;
}

.testimonials-all-cases {
	max-width: 320px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: -18px;
	margin-bottom: 75px;
}








.partners-wrapper {
	background: url(./../img/partners/partners-bg.png);
	background-size: cover;
	padding-top: 85px;
	padding-bottom: 70px;
}
.partners__title  {
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	text-transform: none;
	color: #000;
	font-size: 40px;
	margin-bottom: 75px;
}


.partners-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	/* margin-bottom: 50px; */
	max-width: 570px;
}
.partner-item {
	background-color: #fff;
	max-width: 170px;
	height: 170px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	border: 1px solid #f7f7f7;
	border-radius: 12px;
}
.partner__img {
	object-fit: contain;
	max-width: 110px;
}
.partner__img--peugeot,
.partner__img--renault {
	max-width: 82px;
}

.partners__subtitle {
	color: #000;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: 0.05em;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align: center;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
}












.pricing-wrapper {
	background: url(./../img/scheme/scheme-bg.png);
	background-size: cover;
	padding-top: 65px;
	padding-bottom: 70px;
}
.pricing__title {
	margin-bottom: 50px;
}
.pricing__price {
	font-size: 72px;
	text-align: center;
	font-family: 'Akrobat', sans-serif;
	font-weight: 900;
	margin-bottom: 50px;
}
.pricing__descriptor {
	font-size: 36px;
	color: var(--c-primary);
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	text-align: center;
	margin-bottom: 60px;
}

.pricing-card {
	margin-bottom: 50px;
	max-width: 370px;
	margin-left: auto;
	margin-right: auto;
}
.pricing__card {
	max-width: 100%;
}

.pricing-in {
	max-width: 270px;
	margin-right: 30px;
	padding-top: 90px;
	position: relative;
}
.pricing-in::before {
	content: url(./../img/scheme/pricing-arrow-left.png);
	position: absolute;
	left: 20px;
	bottom: -70px;
	/* transform: scale(-0.5, 0.4) rotate(50deg); */
	transform: scale(0.6);
}
.in__img {
	width: 100%;
}


.pricing-out {
	position: relative;
	max-width: 470px;
}
.pricing-out:before {
	content: url(./../img/scheme/pricing-arrow-right.png);
	position: absolute;
	right: 60px;
	bottom: -80px;
	/* transform: scale(-0.7, 0.7) rotate(20deg); */
	transform: scale(0.6);
}
.pricing__out {
	width: 100%;
}
.pricing-action-in {
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	margin-top: 30px;
}
.pricing-action-out {
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.pricing-scheme {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
	margin-bottom: 50px;
}
.scheme__tag {
	font-size: 18px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 300;
	position: absolute;
	top: 0;
	left: 0;
}
.scheme__tag::before{
	content: '#';
	color: var(--c-primary);
}
.scheme__project {
	transform: translate(120px, 0) rotate(35deg);
}
.scheme__skillup {
	transform: translate(220px, 40px) rotate(-15deg);
}
.scheme__hacks {
	transform: translate(320px, 100px) rotate(5deg);
}
.scheme__pro {
	transform: translate(20px, 190px) rotate(8deg);
}
.scheme__tutorials {
	transform: translate(180px, 260px) rotate(15deg);
}
.scheme__checklists {
	transform: translate(240px, 310px) rotate(-5deg);
}
.scheme__mindmaps {
	transform: translate(325px, 360px) rotate(50deg);
}

.pricing-button {
	max-width: 270px;
	width: 100%;
}













.team-wrapper {
	padding-top: 70px;
	background: url(./../img/learn/learn-bg.png);
	padding-bottom: 90px;
}
.team__title {
	font-size: 40px;
	margin-bottom: 20px;
	text-transform: none;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
}
.team__subtitle {
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	font-family: 'Akrobat', sans-serif;
	margin-bottom: 70px;
}

.team {
	display: flex;
	justify-content: space-between;
}
.team-about {
	max-width: 470px;
	padding-left: 40px;
}
.team-bullets {
	margin-bottom: 30px;
}
.team-bullet {
	font-size: 20px;
	font-weight: 500;
	font-family: 'Akrobat', sans-serif;
	margin-bottom: 25px;
	list-style: none;
	position: relative;
}
.team-bullet::before {
	content: '';
	position: absolute;
	left: -40px;
	top: 5px;
	width: 30px;
	height: 30px;
	background: url(./../img/team/team-bullet.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.team-thanks-button {
	background: none;
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.team-thanks-button__img {
	max-width: 250px;
	margin-bottom: 20px;
}

.thanks-slide-inner {
	max-width: 340px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
}

.thanks-slide-inner img {
	max-width: 100%;
	height: 100%;
	width: 100%;
	/* position: absolute; */
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	object-fits: contain;
	object-position: center;
	margin-left: 30px;
}
.pop-thanks {
	background: none;
	height: 90%;
	max-height: 440px;
	padding-top: 20px;
	padding-bottom: 0px;
}
.thanks-button-prev {
	left: 5%;
}
.thanks-button-next {
	right: 5%;
}
.pop-thanks .swiper-slide{
	margin-top: auto;
	margin-bottom: auto;
}
.team-clients {
	max-width: 570px;
}
.team__img {
	margin-bottom: 20px;
}
.team-clients__title {
	text-align: center;
	margin-bottom: 20px;
}
.team-client-list {
	display: flex;
	justify-content: space-between;
}
.team-clients-item {
	display: block;
	text-align: center;
	text-decoration: none;
}

.team-clients__logo-wrap {
	background-color: #fff;
	border-radius: 12px;
	max-width: 100px;
	width: 100px;
	height: 100px;
	max-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.team-clients__logo {
	max-width: 50%;
}

















.changes {
	background: url(./../img/ready/ready-bg.jpg);
	padding-top: 90px;
	padding-bottom: 80px;
	border-radius: 30px;
}
.changes__title {
	font-size: 40px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	margin-bottom: 25px;
}
.changes__subtitle {
	font-size: 20px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 500;
	margin-bottom: 60px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.changes-course-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 971px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 80px;
}

.changes-course {
	max-width: 370px;
}
.changes-course__title {
	text-align: center;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 22px;
	line-height: 1.1em;
}


.changes-offer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.changes-offer__button {
	margin-bottom: 20px;
	display: block;
}

.changes-offer__title {
	font-size: 22px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 600;
	margin-bottom: 20px;
}


.changes-people {
	display: flex;
	align-items: center;
	font-size: 20px;
}
.changes-people__counter {
	border-radius: 12px;
	font-size: 24px;
	padding: 8px 23px;
	margin-right: 22px;
	margin-left: 22px;
	color: #000;
	background: #fff;
	display: inline-block;
}
.changes-offer__button {
	margin-bottom: 30px;
	max-width: 270px;
	width: 100%;
}








.footer-wrapper {
	padding-top: 100px;
	padding-bottom: 50px;
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.footer-info {
	max-width: 270px;
}
.footer-link {
	font-size: 18px;
	font-family: 'Akrobat', sans-serif;
	display: block;
	margin-bottom: 16px;
}
.footer__caption {
	font-size: 14px;
	font-weight: 16px;
}

.designer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
}
.designer__logo {
	max-width: 50px;
}




.footer-socials {
	display: flex;
	margin-left: 60px;
	justify-content: space-between;
}
.footer-socials-item {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	margin-right: 10px;
	margin-left: 10px;
	align-items: center;
}
.footer-socials-item__icon {
	width: 80%;
	height: 80%;
}
.footer-socials-item__icon--telegram {
	width: 100%;
	height: 100%;
}
.footer-socials-item__icon--tiktok {
	height: 60%;
	width: 60%;
}
.footer-socials-item__icon--vk {
	height: 78%;
	width: 78%;
}














/* #before-after-slider { */
/*   width:100%; */
/*   position:relative; */
/*   overflow:hidden; */
/*   border:3px solid white; */
/* } */
/*  */
/* #after-image { */
/*   display:block */
/* } */
/*  */
/* #before-image { */
/*   position:absolute; */
/*   height:100%; */
/*   width:50%; */
/*   top:0; */
/*   left:0; */
/*   overflow:hidden; */
/*   z-index:2; */
/* } */
/*  */
/* #resizer { */
/*   position:absolute; */
/*   display:flex; */
/*   align-items:center; */
/*   z-index:5; */
/*   top:0; */
/*   left:50%; */
/*   height:100%; */
/*   width:4px; */
/*   background:white; */
/*   [>Stop vertical scrolling on touch<] */
/*   -ms-touch-action: pan-y; */
/*     touch-action: pan-y; */
/* } */
/*  */
/* #resizer:after { */
/*   background:linear-gradient(62deg,#c93072 5%,#3365c0); */
/*   font-family: "Font Awesome 5 Free"; */
/*   content:'\f337'; */
/*   font-weight:900; */
/*   display:flex; */
/*   justify-content:center; */
/*   align-items:center; */
/*   color:white; */
/*   position:absolute; */
/*   margin: 0 0 0 -22px; */
/*   width:40px; */
/*   height:40px; */
/*   border-radius:50%; */
/*   border:3px solid white; */
/*  */
/* } */



.pop-wrapper {
	background: url(./../img/scheme/scheme-bg.png);
}
.pop {
	padding-top: 54px;
	padding-bottom: 54px;
	padding-right: 70px;
	padding-left: 70px;
	/* padding-left: 35px; */
	/* padding-right: 35px; */
	box-sizing: border-box;
	background: #0e0e0e;
}
.pop__img {
	margin-left: auto;
	margin-right: auto;
}
.pop-scrolling {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	/* overflow-x: hidden; */
	/* overflow-y: auto; */
}

.pop__title {
	text-align: center;
	font-size: 24px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 600;
	margin-bottom: 20px;
}
.pop__text {
	font-size: 20px;
	line-height: 24px;
	letter-spacing: var(--ls-text);
	margin-bottom: 20px;
}



.form-socials {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.form-socials__item {
	text-decoration: none;
}
.form-socials__icon {
	width: 35px;
	height: 25px;
	margin-right: 10px;
	margin-left: 10px;
}
.button-centered {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.pop-inner {
	max-width: 370px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}

.pop-plus-left {
	max-width: 370px;
	/* margin-left: auto; */
}

.form-privacy {
	font-size: 14px;
	line-height: 14px;
	text-align: center;
}

.main-callback-pop {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.button-leving {
	margin-top: 20px;
}



.pop-nastya {
	display: flex;
	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
}
.pop-nastya-pics {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* margin-right: 70px; */
}
.pop-nastya__pic {
	width: 100px;
	margin-bottom: 30px;
}
.pop-nastya .pop__text {
	font-size: 18px;
	line-height: 1.2;
}

/* .pop-nastya .pop-plus-right, */
.pop-nastya .pop-plus-left {
	margin-bottom: 50px;
	margin-right: 30px;
	padding-bottom: 50px;
}
.pop-inner--wider {
	max-width: 390px;
}
.pop-about-projects .pop__img {
	max-width: 280px;
}
.pop-about-database .pop__img {
	max-width: 230px;
}


.pop-buddying-slider {
	width: 100%;
}

.buddying-button-prev {
	left: unset;
	right: 5%;
}
.buddying-button-next {
	right: 5%;
}
.pop-buddying-slider {
	overflow: hidden;
}

.pop-about-buddying .swiper-button-disabled {
	display: none;
}
.pop-about-buddying .pop__text {
	font-size: 18px;
}

.pop-psycho-slider {
	overflow: visible;
	max-height: 620px;
	max-height: 520px;
}
.pop-about-psycho {
	max-width: 910px;
	width: 100%;
}

.pop-about-psycho .swiper-button-disabled {
	display: none;
}

.pop-about-psycho .pop__text{
	font-size: 18px;
}
.pop-about-psycho .pop-inner {
	max-width: 370px;
	/* max-width: 630px; */
}
.pop-about-psycho .pop__title {
	margin-bottom: 30px;
	font-size: 18px;
}
.psycho-pics {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.psycho-pic {
	max-width: 200px;
}
.pop__img-psycho {
	max-width: 300px;
	position: absolute;
	bottom: -15%;
	right: -7%;
}
.psycho-button-next {
	top: unset;
	bottom: 5%;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	transform: rotate(90deg);
}
.psycho-button-prev {
	top: unset;
	bottom: 5%;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	transform: rotate(90deg);
}


.pop-about-meetups {
	max-width: 840px;
}
.pop-about-classes .pop__text,
.pop-about-meetups .pop__text {
	font-size: 18px;
}
.pop-about-meetups .pop-inner {
	max-width: 570px;
}

.pop-about-classes {
	max-width: 670px;
	padding-bottom: 0;
}
.pop-about-classes .pop-inner {
	max-width: 470px;
}
.pop-about-classes .pop__img {
	margin-top: -30px;
	max-width: 370px;
	margin-bottom: 0;
}

.pop-about-chats {
	max-width: 870px;
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 0;
}
.pop-about-chats .pop-inner {
	display: flex;
	max-width: 730px;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
}
.pop-about-chats .pop__img {
	max-width: 360px;
	margin-right: 0px;
	margin-left: 0;
	margin-top: -20px;
}
.pop-about-chats .pop__text {
	font-size: 18px;
}

.pop-text-wrapper--chats {
	max-width: 370px;
}


.pop-about-combos {
	max-width: 840px;
	width: 100%;
	padding-bottom: 0;
}
.pop-about-combos .pop-inner {
	flex-direction: row;
	justify-content: space-between;
	max-width: 700px;
	width: 100%;
}
.pop-about-combos .pop__text {
	font-size: 18px;
}
.pop-about-combos .pop__img {
	max-width: 400px;
	margin-left: -100px;
	margin-right: 0;
}



.pop-egor {
	max-width: 770px;
	box-sizing: border-box;
	width: 100%;
	padding-bottom: 0;
}

@media (max-width: 1400px) {
	.pop-egor {
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 550px;
	}
}
.pop-egor .pop-inner {
	max-width: 570px;
	width: 100%;
}
.pop-egor .pop-pics {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 20px;
}
.pop-egor .pop__text {
	font-size: 18px;
}
.pop-egor .pop__img {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 30px;
}
.pop__img--egor-1 {
	width: 170px;
}
.pop__img--egor-2 {
	max-width: 370px;
}
.pop__img--egor-3 {
	width: 100%;
}


.pop-nuclear,
.pop-programm,
.pop-elective {
	max-width: 940px;
	height: 90vh;
	overflow: hidden
}
.pop-nuclear .pop__text, 
.pop-programm .pop__text, 
.pop-elective .pop__text {
	font-size: 18px;
}
.nuclear-slider {
	max-width: 100%;
	overflow: hidden;
}
.programm-slider,
.elective-slider {
	max-width: 100%;
	overflow: visible;
}
.nuclear-slider .nuclear-button-prev,
.programm-slider .programm-button-prev,
.elective-slider .elective-button-prev{
	left: -15%;
	top: 35%;
}
.nuclear-slider .nuclear-button-next,
.programm-slider .programm-button-next,
.elective-slider .elective-button-next{
	right: -15%;
	top: 35%;
}
.elective__pic {
	position: absolute;
	/* bottom: -230px; */
	bottom: -180px;
	/* right: -50%; */
	right: -22%;
	max-width: 310px;
}
.elective__pic--target {
	bottom: -120px;
}
.elective__pic--branding {
	bottom: -140px;
}

.nuclear__pic--yach-1,
.nuclear__pic--yach-2 {
	bottom: -120px;
	position: absolute;
	right: -120px;
	max-width: 283px;
}
.nuclear__pic--yach-2 {
	bottom: -200px;
}


.pop-dim .pop__text,
.pop-mikhail .pop__text {
	font-size: 18px;
}


.pop-programm {
	max-width: 940px;
}
.programm-slider {
	max-width: 400px;
}
.pop-programm .programm-button-prev {
	left: unset;
	right: -9%;
	top: 18%;
}
.pop-programm .programm-button-next {
	right: -9%;
	top: 18%;
}

.pop-programm .swiper-button-disabled {
	display: none;
}
.pop__img--programm-1 {
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
}
.pop-programm .swiper-slide {
	display: flex;
	flex-direction: column;
}

.pop-homework .pop__img {
	max-width: 290px;
	margin-left: auto;
	margin-right: auto;
}
.pop-flex .pop__text,
.pop-homework .pop__text {
	font-size: 18px;
}
.pop-left {
	padding-bottom: 0;
}
.pop-flex .pop__img {
	margin-top: -20px;
 max-width: 230px;
}

.pop-pics-warranties {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.pop__img-warranty--1 {
	max-width: 200px;
	margin-right: 20px;
}
.pop__img-warranty--2 {
	max-width: 130px;
}


.pop-communication {
	padding-bottom: 0;
}
.pop-communication .pop__text {
	font-size: 18px;
}
.pop-communication .pop__img {
	max-width: 320px;
}






.pop-employe {
	overflow: hidden;
}
.employe-slider {
	max-width: 400px;
	overflow: visible;
}
.employe-slider .swiper-button-disabled {
	display: none;
}
.employe-slider .pop__text {
	font-size: 18px;
}


.employe-button-next {
	top: 25%;
	right: -7%;
}
.employe-button-prev {
	top: 25%;
	left: unset;
	right: -7%;
}





.drag-content {
	display: flex;
}
.drag-slider {
	max-width: 970px;
	overflow: visible;
}
.drag-slider .swiper-button-next {
	right: -5%;
}
.drag-slider .swiper-button-prev {
	left: -5%;
}

.drag-slide .pop__text {
	font-size: 18px;
	line-height: 18px;
}

.pop-drag {
	overflow: hidden;
}
.pop-drag-bonuses {
	max-width: 270px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.pop-drag-lessons {
	max-width: 370px;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 70px;
}
.pop-drag-get-skillcard,
.pop-drag-get-bonus {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.pop-drag-get-skillcard__img,
.pop-drag-get-bonus__img {
	max-width: 185px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.pop-additional {
	max-width: 270px;
}


.programm__text--certificate.text__italic {
	font-style: italic;
	text-transform: uppercase;
}


.button-privacy {
	display: inline;
	font-size: 14px;
}


.no-desktop {
	display: none;
}

.pop-testimonials {
	padding: 20px;
	max-width: 400px;
	min-width: 280px;
	width: 100%;
	max-height: 78vh;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}
.pop-testimonials p {
	margin-bottom: 15px;
	max-width: 100%;
}



.pop-leaving {
	box-shadow: 0 0 50px rgb(255,255,255,.1);
}
.pop-privacy {
	max-height: 600px;
	overflow: auto;
}
.pop-privacy p {
	margin-bottom: 10px;
}


@media (max-width: 1300px) and (min-width: 700px) {
	.programm-drag--4-container {
		margin-left: auto;
	}
}

@import './max-width.css';
@import './min-width.css';
