@import 'modal/modal.css';


@font-face {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Akrobat-Light.woff2') format('woff2');
    src: url('../fonts/Akrobat-Light.woff') format('woff');
}
@font-face {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Akrobat-Regular.woff2') format('woff2');
    src: url('../fonts/Akrobat-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Akrobat-SemiBold.woff2') format('woff2');
    src: url('../fonts/Akrobat-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Akrobat-Bold.woff2') format('woff2');
    src: url('../fonts/Akrobat-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Akrobat-ExtraBold.woff2') format('woff2');
    src: url('../fonts/Akrobat-ExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Akrobat-Black.woff2') format('woff2');
    src: url('../fonts/Akrobat-Black.woff') format('woff');
}
@font-face {
    font-family: 'Norwester';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/mr_NorwesterG.woff2') format('woff2');
    src: url('../fonts/mr_NorwesterG.woff') format('woff');
}


/* 
 * === Table of content ===
 *
 * 1. Globals
 *
 * 2. Typography
 *
 * */


/* 
 * ==========
 * 1. Globals
 * ==========
 * */
:root {
    --c-font: #fff;
    --c-font-2: #b9b9b9;
		--c-font-primary: #d59b64;
		--c-font-golden: #eec30a;
		--c-font-silver: #a4a4a4;
		--c-primary: #dca067;
		--c-secondary: #985e36;
		--bg-grad-ltr:  linear-gradient(90deg, var(--c-primary) 0%, var(--c-secondary) 100%);
		--bg-grad-rtl: linear-gradient(90deg, var(--c-secondary) 0%, var(--c-primary) 100%);
		--bg: #080808;
		--ls-text: 0.025em;


		--f-title-1: 40px;
		--f-title-2: 36px;
		--f-regular: 18px;

    margin: 0;
    padding: 0;
}

body {
	font-family: 'Akrobat', sans-serif;
	letter-spacing: var(--ls-text);
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--c-font);
		background-color: var(--bg);
}

p, ul, ol, li, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	letter-spacing: 0.025em;
}
main {
	overflow: hidden;
}
picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	width: 100%;
}
picture img {
	width: 100%;
	object-fit: cover;
	object-position: top;
}

.container {
	/* max-width: 1230px; */
	max-width: 1170px;
	margin: 0 auto;
	padding-left: 15px;
	padding-left: 30px;
	padding-right: 15px;
	padding-right: 30px;
}

button {
  cursor: pointer;
}
.button-primary {
	display: block;
  box-sizing: border-box;
  border: none;
	border-radius: 8px;
	background: var(--bg-grad-ltr);
	color: #fff;
  transition: all 0.3s;
	text-transform: uppercase;
	font-family: 'Akrobat', sans-serif;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 0.05em;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-right: 30px;
	padding-left: 30px;
}

.button-primary:hover {
	box-shadow: 0px 0px 10px 5px rgba(220,160,103,0.91);
	box-shadow: 0px 0px 10px 5px rgba(152,94,54,0.91);
	background: var(--bg-grad-rtl);
	transition: all 0.3s;
}

@keyframes glowing {
	0% {
		box-shadow: 0px 0px 10px 10px rgba(220,160,103,0.85);
		background:rgba(218,158,101,0.5);
	}

	50% {
		box-shadow: none;
		background: none;
	}

	100% {
		background:rgba(218,158,101,0.5);
		box-shadow: 0px 0px 10px 10px rgba(220,160,103,0.85);
	}
}

/* .pop-trigger { */
/*   width: 16px; */
/*   height: 16px; */
/*   border: none; */
/*   position: absolute; */
/*   right: 0; */
/*   left: 0; */
/*   z-index: 3; */
/*   transition: all 0.3s; */
/*   background: var(--c-primary); */
/*   border-radius: 100%; */
/*   animation: 4s linear 2s infinite glowing; */
/* } */
/* .pop-trigger::before { */
/*   content: ''; */
/*   display: block; */
/*   position: absolute; */
/*   top: -5px; */
/*   left: -5px; */
/*   margin-left: auto; */
/*   margin-right: auto; */
/*   border: 3px solid var(--c-primary); */
/*   width: 20px; */
/*   height: 20px; */
/*   border-radius: 100%; */
/*    */
/* } */
/* .pop-trigger::after { */
/*   content: ''; */
/*   display: block; */
/*   position: absolute; */
/*   top: -9px; */
/*   left: -9px; */
/*   width: 30px; */
/*   height: 30px; */
/*   border-radius: 100%; */
/*   border: 2px solid var(--c-primary); */
/*   [> background: linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(255,255,255,.5) 100%); <] */
/*   background-blend-mode: overlay; */
/* } */


.pop-trigger {
	width: 28px;
	height: 28px;
	border-radius: 100%;
	border: none;
	background: linear-gradient(0deg, rgba(218,158,101,1) 0%, rgba(240,214,189,1) 100%);
	position: absolute;
	z-index: 3;
}
.pop-circle-1 {
	position: absolute;
	top: 2px;
	left: 2px;
	display: block;
	z-index: 1;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border: 2px solid #2b2b2b;
}
.pop-circle-2 {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	border: 2px solid #2b2b2b;
	position: absolute;
	top: 7px;
	left: 7px;
	z-index: 1;
}
.pop-circle-3 {
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background: #2b2b2b;
	position: absolute;
	top: 12px;
	left: 12px;
	z-index: 1;
}
.pop-hover-glower {
	position: absolute;
	border-radius: 100%;
	display: block;
	left: 0;
	right: 0;
	top: 0;
	width: 28px;
	height: 28px;
	z-index: 5;
	background-blend-mode: multiply;
	animation: 4s linear 2s infinite glowing;
	transition: all 0.3s;
}


.has-popup {
	position: relative;
}
.pop-trigger:hover .pop-circle-3 {
	background: var(--c-primary);
}
.pop-trigger:hover .pop-hover-glower {
	box-shadow: 0px 0px 15px 10px rgba(220,160,103,0.95);
	background: rgba(220,160,103,0.45);
	/* background:rgba(218,158,101,0.5); */
	transition: all 0.3s ;
	animation: none;
}
.pop-trigger:hover {
}
.pop-trigger--ilnaz {
	left: unset;
	top: 45%;
	right: 21%;
}
.pop-trigger--nastya {
	left: unset;
	top: 25%;
	right: 34%;
}
.pop-trigger--egor {
	left: unset;
	top: 18%;
	right: 17%;
}
.pop-trigger--mikhail {
	left: unset;
	top: 25%;
	right: 0;
}
.pop-trigger--dim {
	left: unset;
	top: 24%;
	right: 12%;
}
.pop-trigger--nikolai {
	left: unset;
	top: 23%;
	right: 19%;
}
.pop-trigger--bogdan {
	left: unset;
	top: 21%;
	right: 15%;
}

.title__button {
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	letter-spacing: var(--ls-text);
	background: none;
	border: none;
	font-size: 40px;
	position: relative;
	padding-right: 0;
	padding-left: 0;
}
.text__silver.title__button::after {
	background-color: var(--c-font-silver);
}
.text__golden.title__button::after {
	background-color: #eec39a;
}
.text__golden.title__button::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	display: block;
	width: 100%;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
}
.text__silver.title__button::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	display: block;
	width: 90%;
	height: 2px;
	background-color: var(--c-font-silver);
	margin-left: auto;
	margin-right: auto;
}


/* Typography */
.section__title {
	font-size: 36px;
	font-family: "Norwester" sans-serif;
	text-align: center;
	text-transform: uppercase;
}
.section__subtitle {
	font-size: 36px;
}
p {
	font-size: 18px;
	font-family: 'Akrobat', sans-serif;
	letter-spacing: 0.025em;
}
a {
	color: #fff;
	font-family: 'Akrobat', sans-serif;
}
.text__golden {
	color: var(--c-font-primary);
}
.text__right {
	text-align: right;
}
.text__silver {
	color: var(--c-font-silver);
}
.text__italic {
	font-style: italic;
	font-family: 'Akrobat', sans-serif;
}
.text__bold {
	font-weight: 600 !important;
	font-family: 'Akrobat', sans-serif;
}
.text__extrabold {
	font-weight: 700 !important;
	font-family: 'Akrobat', sans-serif;
}
span {
	line-height: inherit;
	font-size: inherit;
	font-family: 'Akrobat', sans-serif;
}






/* Contorls */
.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: inherit;
}
.swiper-button-next,
.swiper-button-prev {
	font-size: 16px;
	border: 2px solid var(--c-primary);
	border-radius: 12px;
	color: var(--c-primary);
	max-height: 35px;
}
.swiper-button-next {
	right: 0;
}
.swiper-button-prev {
	left: 0;
}


.button-thirdly {
	background: none;
	padding: 0;
	border: none;
	border-bottom: 1px solid #a4a4a4;
	font-size: 18px;
	line-height: 1;
	color: #a4a4a4;
}

/* 
 * ==========
 * 2. 
 * ==========
 * */


/* Header */
.header-wrapper {
	position: relative;
	z-index: 2;
}
.header {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	margin-top: -15px;
}
.header-logo {
	margin-right: 30px;
	max-width: 270px;
}
.logo {
	width: 100%;
}

.nav-item {
	letter-spacing: 0.200em;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 55px;
	font-family: 'Akrobat', sans-serif;
}

.header-contact {
	margin-left: auto;
	flex-direction: column;
	display: flex;
	align-items: center;
	margin-right: 5px;
	margin-top: 25px;
}
.header-phone {
	font-size: 18px;
	letter-spacing: 0.2em;
	margin-bottom: 9px;
	text-decoration: none;
	letter-spacing: 0.18em;
	text-decoration: none;
	font-family: 'Akrobat';
	border-bottom: none;
	color: #fff;
	position: relative;
}
.header-phone::after {
	content: attr(end);
	position: absolute;
	right: 0;
	color: var(--c-primary)
}
.button__callback {
	font-size: 14px;
	letter-spacing: 0.1em;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Hero */
.hero-wrapper {
	background: url(./../img/learn/learn-bg.png);
	padding-bottom: 185px;
	background-size: contain;
	background-repeat: no-repeat;

}
.hero {
	position: relative;
}
.hero__character-left {
	position: absolute;
	left: -250px;
	top: -250px;
	max-width: 680px;
	z-index: 1;
}
.hero__character-right {
	position: absolute;
	right: -285px;
	top: -235px;
	max-width: 700px;
	z-index: 1;
}

.hero-offer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
}
.hero__prephrase {
	font-size: 20px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 500;
	letter-spacing: 0.1em;
	margin-bottom: 20px;
}
.hero__title {
	letter-spacing: 0.1em;
	font-size: 40px;
	line-height: 1.2em;
	margin-bottom: 65px;
}
.hero__subtitle {
	font-size: 36px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.2em;
	margin-bottom: 60px;
}
.hero__caption {
	text-align: center;
	font-weight: 300;
	margin-bottom: 25px;
}

.hero-bullets {
	display: flex;
	justify-content: space-between;
	max-width: 971px;
	margin-left: auto;
	margin-right: auto;
}

.hero-warranty {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.hero-warranty::after {
	content: '';
	background: url(./../img/hero/hero-arrow.png);
	display: block;
	width: 300px;
	height: 230px;
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
	position: absolute;
	top: -30px;
	left: 190px;
	/* transform: scale(1.5, 1); */
}
.hero-warranty__img {
	max-width: 130px;
	width: 100%;
	margin-bottom: 10px;
}

.hero-diploma {
	margin-top: -50px;
	margin-right: 20px;
}
.hero-diploma__img {
	max-width: 250px;
	width: 100%;
	margin-bottom: 10px;
}

.hero__bullet-text {
	text-align: center;
	letter-spacing: 0.025em;
	font-weight: 300;
}












/* Syndorme */
.syndrome {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background: url(./../img/syndrome/syndrome-bg.png);
}
.syndrome__title {
	transform: translateX(165px);
	font-size: 40px;
}
.syndrome__img {
	max-width: 571px;
	margin-left: 100px;
	margin-right: 25px;
}
.syndrome-slider {
	max-width: 400px;
	margin-left: auto;
}
.syndrome-slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
}
.syndrome-slide__title {
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 700;
	color: var(--c-font-primary);
	font-family: 'Akrobat', sans-serif;
	margin-bottom: 45px;
}
.syndrome-slide__item {
	list-style: none;
	text-align: center;
	max-width: 270px;
	/* max-width: 250px; */
	font-family: 'Akrobat', sans-serif;
	font-size: 20px;
	letter-spacing: 0.025em;
	position: relative;
	margin-bottom: 50px;
}
.syndrome-slide__item::before,
.syndrome-slide__item::after {
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: -15px;
	content: '';
	width: 26px;
	height: 2px;
	background: var(--c-font-primary);
	margin-left: auto;
	margin-right: auto;
	transform: rotate(45deg);
}
.syndrome-slide__item::before {
	transform: rotate(-45deg);
}
.swiper-button-prev.syndrome-button-prev,
.swiper-button-next.syndrome-button-next {
	top: 43%
}








/* Bad marketing */
.bad-marketing-wrapper {
	padding-top: 70px;
	padding-bottom: 50px;
}
.bad-marketing {
	display: flex;
	/* justify-content: space-between; */
}
.bad-marketing__title {
	margin-bottom: 60px;
}

.bad-marketing-character__text {
	position: relative;
	display: flex;
	letter-spacing: var(--ls-text);
	font-size: 18px;
	margin-bottom: 20px;
}
.bad-marketing-character__spec {
	margin-left: 5px;
	display: inline-block;
}
.bad-marketing-character__text::before {
	content: '?';
	position: relative;
	left: 0;
	display: inline-block;
	height: 24px;
	width: 24px;
	font-size: 14px;
	font-weight: 900;
	border: 1px solid #fff;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-right: 14px;
	line-height: 1;
	font-style: normal;
}

.bad-marketing__img {
	max-width: 500px;
	margin-right: 35px;
}
.bad-marketing-text {
	max-width: 520px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Akrobat';
	font-weight: 300;
}
.bad-marketing-text p {

	font-size: 22px;
	letter-spacing: var(--ls-text);
	margin-bottom: 20px;
}
.bad-marketing-text p:first-child {
	margin-bottom: 30px;
}
.bad-marketing-text__em {
	border-left: 8px solid var(--c-font-primary);
	font-weight: 700;
	padding-left: 8px;
	padding-bottom: 4px;
	font-style: normal;
	margin-bottom: 20px;
}
.bad-marketing-text h3 {
	margin-top: 40px;
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	letter-spacing: 0.020em;
}









/* Look */
.look-wood {
	background: url(./../img/look/big-wood.png);
	height: 125px;
	width: 100%;
}
.look-wood-small {
	max-width: 300px;
	width: 100%;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	background: url(./../img/look/small-wood.png);
}
.look-wood-word--top {
	background: url(./../img/look/vasya-loh.png);
	width: 100%;
	height: 100%;
	background-size: 85%;
	background-position: 40px 40px;
	background-repeat: no-repeat;
}

.look {
	padding-top: 75px;
}
.look__title {
	text-transform: none;
	margin-bottom: 50px;
}


.before-after-slider__controller {
	background: url(./../img/look/machine.png);
	background-size: cover;
	width: 110px;
	height: 70px;
	margin-bottom: 100px;
}

.before-section {
	display: flex;
}
.look-wrapper {
	background: url(./../img/look/look-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.look__img-bad {
	max-width: 240px;
	margin-right: 50px;
	margin-left: -50px;
}
.look-slide__title {
	font-family: 'Akrobat', sans-serif;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 40px;
	letter-spacing: var(--ls-text);
}
.look-list__item {
	font-size: 22px;
	font-weight: 300;
	letter-spacing: var(--ls-text);
	list-style: none;
	position: relative;
	margin-bottom: 20px;
	
}
.look-list__item::before,
.look-list__item::after {
	position: absolute;
	display: block;
	left: -35px;
	top: 15px;
	content: '';
	width: 26px;
	height: 2px;
	background: var(--c-font-primary);
	margin-left: auto;
	margin-right: auto;
	transform: rotate(45deg);
}
.look-list__item::before {
	transform: rotate(-45deg);
}


.after-section {
	display: flex;
	align-items: flex-end;
}
.look-list__item--after::after {
	width: 13px;
	top: 19px;
	left: -41px
}
.look__img--good {
	max-width: 380px;
}
.look-wood--bottom {
	border-top: 30px solid var(--bg);
}
.look-list__item--bigger-margin {
	margin-bottom: 50px;
}
.look-img--good {
	margin-left: -200px;
}

.look-wood--bottom .look-wood-small {
	max-width: 700px;
	background-repeat: no-repeat;
	background: url(./../img/look/big-miniwood.png);
}
.look-wood-word--bottom {
	background: url(./../img/look/vasya-marketolog.png);
	width: 100%;
	height: 100%;
	background-size: 85%;
	background-position: 60px 40px;
	background-repeat: no-repeat;

}







.about-wrapper {
	background: url(./../img/about/who-is-bg.png);
	background-size: 60%;
	background-position: 120px 300px;
	background-repeat: no-repeat;
	overflow: hidden;
}
.about {
	padding-top: 100px;
	position: relative;
	padding-bottom: 100px;
}
.about__title {
	text-transform: none;
	padding-bottom: 25px;
	padding-right: 20px;
	padding-left: 20px;
	border-bottom: 5px solid var(--c-primary);
	margin-bottom: 30px;
	font-size: 40px;
}
.about-descr {
	max-width: 971px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 55px;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: var(--ls-text);
	font-weight: 300;
}


.about-features {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 900px;
	margin-right: auto;
	position: relative;
	z-index: 2;
}
.about-features-wrap {
	max-width: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}
.about-features-wrap-1 {
	max-width: 630px;
	margin-bottom: 80px;
}
.about-features-wrap-2 {
	max-width: 828px;
	margin-bottom: 105px;
}
.about-features-wrap-3 {
	max-width: 771px;
	margin-bottom: 60px;
}
.about-features-wrap-4 {
	max-width: 600px;
}
.about-features-wrap--single {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}
.about-features__item {
	background: none;
	border: none;
	max-width: 180px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 18px;
	color: #fff;
	transition: all 0.3s;
}
.about-features__item:hover .about-features__icon {
	transform: scale(1.2);
	transition: all 0.3s;
}
.about-features__item:hover .about-features__text {
	color: var(--c-primary);
	transition: all 0.3s;
	border-bottom: 2px solid var(--c-primary);
}
.about-features__icon {
	position: relative;
	max-width: 70px;
	max-height: 50px;
	object-fit: contain;
	object-position: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	transition: all 0.3s;
}
.about-features__icon:after {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 10px 5px rgba(220,160,103,0.91);
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}
.about-features__item:hover .about-features__icon:after {
}
.about-features__text {
	position: relative;
	font-family: 'Akrobat', sans-serif;
	font-weight: 300;
	border-bottom: 2px solid #fff;
	margin-bottom: 2px;
	letter-spacing: var(--ls-text);
	transition: all 0.3s;
}

.about-circles {
	max-width: 570px;
	width: 100%;
	height: 570px;
	position: absolute;
	/* top: 500px; */
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.about-circle {
	display: flex;
	border: 1px dashed #3e3e3e;
	border-radius: 100%;
	height: 85%;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
}
.about-circle-1 {
	width: 100%;
	height: 100%;
}
.about-circle-5 {
	width: 83%;
	height: 83%;
}
.about-circle-6 {
	width: 80%;
	height: 80%;
}
.about-description {
	max-width: 900px;
	position: absolute;
	top: 473px;
	left: 25px;
	width: 100%;
}
.about__description {
	position: absolute;
	left: 0;
	top: 225px;
	bottom: 0;
	right: 0;
	margin: auto;
	text-align: center;
	font-family: 'Akrobat', sans-serif;
	font-weight: 600;
	font-size: 30px;
}
.about__name {
	font-size: 36px;
	font-weight: 700;
	letter-spacing: var(--ls-text);
}

.about-img {
	max-width: 650px;
	width: 100%;
	position: absolute;
	right: -180px;
	top: 350px;
	z-index: 1;
}











.base-wrapper {
	background: url(./../img/base/base-bg.png);
	background-size: cover;
}
.base__title {
	font-size: 40px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	text-transform: none;
	letter-spacing: var(--ls-text);
	margin-bottom: 50px;
}
.base__subtitle {
	font-family: 'Akrobat', sans-serif;
	letter-spacing: var(--ls-text);
	text-align: center;
	font-size: 36px;
	margin-bottom: 30px;
}
.base-img {
	max-width: 390px;
	margin-left: -100px;
	margin-right: 50px;
	position: relative;
}
.base__img {
	position: relative;
	z-index: 2;
}
.base-circles {
	max-width: 420px;
	width: 420px;
	height: 420px;
	position: absolute;
	bottom: 90px;
	left: -20px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.2;
	z-index: 0;
}
.base-circle {
	display: flex;
	border: 2px dotted var(--c-primary);
	border-radius: 100%;
	height: 85%;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
}
.base-circle-1 {
	width: 100%;
	height: 100%;
}
.base-circle-5 {
	width: 83%;
	height: 83%;
}
.base-circle-6 {
	width: 80%;
	height: 80%;
}



.base {
	display: flex;
}
.base-slider-1-wrapper {
	max-width: 330px;
	margin-right: 70px;
	position: relative;
}
.base-slider-1-wrapper::after {
	content: '';
	position: absolute;
	right: -30px;
	top: 0;
	bottom: 0;
	display: block;
	height: 100%;
	max-height: 286px;
	width: 1px;
	border-left: 1px dashed #2b2b2b;
}
.base-slider-2-wrapper {
	max-width: 430px;
}
.base-slider__title {
	margin-left: 25px;
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 600;
	font-family: 'Akrobat', sans-serif;
	letter-spacing: var(--ls-text);
}
.base-slide-content {
	padding-left: 50px;
}
.base-slide__title {
	font-size: 20px;
	letter-spacing: var(--ls-text);
	margin-bottom: 15px;
	font-weight: 600;
}
.base-slide__item {
	max-width: 75%;
	font-family: 'Akrobat', sans-serif;
	font-weight: 300;
	margin-bottom: 10px;
	line-height: 1;
}
.base-slide-result {
	border-top: 1px dashed #2b2b2b;
	margin-top: 30px;
	padding-top: 15px;
	max-width: 80%;
}

.base-slide-result__title {
	font-size: 20px;
	margin-bottom: 0;
	list-style: var(--ls-text);
	font-family: 'Akrobat', sans-serif;
	font-weight: 600;
}
.base-slide-result__text {
	font-size: 18px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 300;
	line-height: 1.2;
}










.programm-wrapper {
	padding-top: 50px;
}


.programm__title {
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	margin-bottom: 40px;
}
.programm-drag-wrapper {
	border-top: 1px dashed #2b2b2b;
	border-bottom: 1px dashed #2b2b2b;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 70px;
}
.programm-drag {
	background: url(./../img/programm/programm-bg.png);
	background-size: cover;
	display: flex;
	justify-content: space-between;
	padding-top: 33px;
}
.programm-drag-2 {
	background: url(./../img/programm/programm-bg-2.png);
	background-size: cover;
}
.programm-drag-3 {
	background: url(./../img/programm/programm-bg-3.png);
	background-size: cover;
}
.programm-drag-4 {
	background: url(./../img/programm/programm-bg-4.png);
	background-size: cover;
}

.programm-certificates {
	max-width: 270px;
}
.programm-about {
	margin-left: 100px;
	padding-top: 82px;
	max-width: 430px;
	width: 100%;
}
.programm-about__title {
	font-size: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 20px;
}
.programm-about__title .text__golden {
	margin-bottom: 5px;
}
.programm__subtitle {
	font-size: 22px;
	font-weight: 600;
	line-height: 30px;
}
.programm__content {
	font-family: 'Akrobat', sans-serif;
	font-weight: 300;
}
.button-drag-more {
	margin-top: 40px;
	margin-bottom: 100px;
}
.programm__text--certificate {
	font-size: 18px;
	margin-bottom: 40px;
	line-height: 1;
	font-family: 'Akrobat', sans-serif;
	font-weight: 500;
}
.programm-certificates__text {
	font-size: 18px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 300px;
	letter-spacing: var(--ls-text);
	line-height: 5px;
}
.programm__skillcard-pic {
	max-width: 220px;
}
.programm__certificate-pic {
	max-width: 200px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.img__mikhail {
	max-height: 570px;
	height: 570px;
	width: 370px;
	object-fit: cover;
	object-position: top;
}
.img__dim {
	max-height: 600px;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
.drag-img {
	max-width: 340px;
}
.programm-drag-2 .programm-certificates,
.programm-drag-3 .programm-certificates {
	padding-top: 80px;
}
.programm-drag-4 .programm-certificates {
	padding-top: 50px;
}

.programm-drag-4 .programm-about {
	margin-left: 0;
	max-width: 570px;
	width: 100%;
}
.programm-drag-4 .programm__content {
	max-width: 520px;
	font-size: 22px;
}

.programm-drag-4 .programm-about__title {
	margin-bottom: 40px;
}
.drag-result__title {
	align-self: flex-start;
	margin-right: auto;
	width: 100%;
	text-align: left;
	display: block;
}
.img__case {
	max-width: 150px;
	margin-top: 20px;
}
.drag-result {
	max-width: 270px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
}
.programm__content-result {
	margin-bottom: 20px;
}

.programm__bonus {
	margin-top: 35px;
}










.learn-wrapper {
	background: url(./../img/learn/learn-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 60px;
}
.learn {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.learn-faq {
	display: flex;
	flex-direction: column;
	max-width: 350px;
	width: 350px;
	justify-content: center;
	margin-right: 70px;
}
.learn-faq__item {
	border-bottom: none;
	text-align: left;
	font-size: 24px;
	line-height: 72px;
}
.learn-text {
	max-width: 550px;
	margin-right: auto;
}
.learn-text__title {
	text-align: left;
	font-size: 40px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	text-transform: none;
	margin-bottom: 70px;
}
.learn-text__bullet {
	margin-bottom: 40px;
	max-width: 470px;
}
.learn-text__subtitle {
	font-size: 36px;
	line-height: 1.2em;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	margin-bottom: 40px;
}
.img-bogdan {
	position: absolute;
	bottom: 0;
	right: 0;
}










.get-wrapper {
	padding-top: 60px;
}

.get__title {
	margin-bottom: 70px;
}

.get-features {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
}
.get-features-wrapper {
	justify-content: space-between;
	display: flex;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 2;
}
.get-features-wrapper-1 {
	max-width: 770px;
	margin-bottom: 100px;
}
.get-features-wrapper-2 {
	max-width: 971px;
	margin-bottom: 110px;
}
.get-features-wrapper-3 {
	max-width: 780px;
}
.get-features-item {
	max-width: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.get-features-item-first {
	margin-left: auto;
	margin-right: auto;
}
.get-features-item-last {
	margin-left: auto;
	margin-right: auto;
	margin-top: -90px;
}
.get-features__img {
	/* max-width: 68px; */
	max-height: 55px;
	object-fit: contain;
	object-position: center;
	margin-bottom: 15px;
}

.get-features-item-last {
	max-width: 230px;
}
.get-features__text.text__extrabold {
	font-size: 24px;
}


.get-decor {
	position: absolute;
	z-index: 1;
	top: 20px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 770px;
	height: 770px;
}
.get-logo {
	max-width: 370px;
	position: absolute;
	left: 0;
	right: 0;
	top: 300px;
	margin-left: auto;
	margin-right: auto;
}
.get-circle {
	/* max-width: 770px; */
	max-width: 100%;
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
}














.testimonials-wrapper {
	padding-top: 500px;
	margin-top: -420px;
	padding-bottom: 50px;
	background: url(./../img/testimonials/logo-bg.png);
}
.testimonials__title {
	margin-bottom: 45px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	text-transform: none;
}
.testimonials-stats {
	display: flex;
	justify-content: space-between;
	background-color: #121212;
	border-radius: 12px;
	padding: 14px 20px;
	margin-bottom: 10px;
}



.testimonials-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.testimonials-item {
	max-width: 270px;
	width: 100%;
	border-radius: 12px;
	border: 1px dotted var(--c-primary);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 140px;
	padding-bottom: 20px;
}
.testimonials__img {
	width: 200px;
	height: 175px;
	border-radius: 12px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -95px;
	margin-bottom: 20px;
}
.testimonials__text {
	max-width: 195px;
	margin-bottom: 15px;
}
.testimonials__more {
	font-style: italic;
	margin-top: auto;
}

.tesimonials-all-cases {
	max-width: 270px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: -18px;
	margin-bottom: 75px;
}








.partners-wrapper {
	background: url(./../img/partners/partners-bg.png);
	padding-top: 85px;
	padding-bottom: 70px;
}
.partners__title  {
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	text-transform: none;
	color: #000;
	font-size: 40px;
	margin-bottom: 75px;
}


.partners-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	max-width: 570px;
}
.partner-item {
	background-color: #fff;
	max-width: 170px;
	height: 170px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
.partner__img {
	object-fit: contain;
	max-width: 110px;
}

.partners__subtitle {
	color: #000;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: 0.05em;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
}












.pricing-wrapper {
	background: url(./../img/scheme/scheme-bg.png);
	padding-top: 65px;
	padding-bottom: 70px;
}
.pricing__title {
	margin-bottom: 50px;
}
.pricing__price {
	font-size: 72px;
	text-align: center;
	font-family: 'Akrobat', sans-serif;
	font-weight: 900;
	margin-bottom: 50px;
}
.pricing__descriptor {
	font-size: 36px;
	color: var(--c-primary);
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	text-align: center;
	margin-bottom: 60px;
}

.pricing-card {
	margin-bottom: 50px;
	max-width: 370px;
	margin-left: auto;
	margin-right: auto;
}
.pricing__card {
	max-width: 100%;
}

.pricing-in {
	max-width: 270px;
	margin-right: 30px;
	padding-top: 90px;
	position: relative;
}
.pricing-in::before {
	content: url(./../img/scheme/pricing-arrow-left.png);
	position: absolute;
	left: 20px;
	bottom: -70px;
	/* transform: scale(-0.5, 0.4) rotate(50deg); */
	transform: scale(0.6);
}
.in__img {
	width: 100%;
}


.pricing-out {
	position: relative;
	max-width: 470px;
}
.pricing-out:before {
	content: url(./../img/scheme/pricing-arrow-right.png);
	position: absolute;
	right: 60px;
	bottom: -80px;
	/* transform: scale(-0.7, 0.7) rotate(20deg); */
	transform: scale(0.6);
}
.pricing__out {
	width: 100%;
}
.pricing-action-in {
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	margin-top: 30px;
}
.pricing-action-out {
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.pricing-scheme {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
	margin-bottom: 50px;
}
.scheme__tag {
	font-size: 18px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 300;
	position: absolute;
	top: 0;
	left: 0;
}
.scheme__tag::before{
	content: '#';
	color: var(--c-primary);
}
.scheme__project {
	transform: translate(120px, 0) rotate(35deg);
}
.scheme__skillup {
	transform: translate(220px, 40px) rotate(-15deg);
}
.scheme__hacks {
	transform: translate(320px, 100px) rotate(5deg);
}
.scheme__pro {
	transform: translate(20px, 190px) rotate(8deg);
}
.scheme__tutorials {
	transform: translate(180px, 260px) rotate(15deg);
}
.scheme__checklists {
	transform: translate(240px, 310px) rotate(-5deg);
}
.scheme__mindmaps {
	transform: translate(325px, 360px) rotate(50deg);
}

.pricing-button {
	max-width: 270px;
	width: 100%;
}













.team-wrapper {
	padding-top: 70px;
	background: url(./../img/learn/learn-bg.png);
	padding-bottom: 90px;
}
.team__title {
	font-size: 40px;
	margin-bottom: 20px;
	text-transform: none;
	font-family: 'Akrobat';
	font-weight: 700px;
}
.team__subtitle {
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	font-family: 'Akrobat';
	margin-bottom: 70px;
}

.team {
	display: flex;
	justify-content: space-between;
}
.team-about {
	max-width: 470px;
	padding-left: 40px;
}
.team-bullets {
	margin-bottom: 30px;
}
.team-bullet {
	font-size: 20px;
	font-weight: 500;
	font-family: 'Akrobat';
	margin-bottom: 25px;
	list-style: none;
	position: relative;
}
.team-bullet::before {
	content: '';
	position: absolute;
	left: -40px;
	top: 5px;
	width: 30px;
	height: 30px;
	background: url(./../img/team/team-bullet.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.team-thanks-button {
	background: none;
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.team-thanks-button__img {
	max-width: 250px;
	margin-bottom: 20px;
}


.team-clients {
	max-width: 570px;
}
.team__img {
	margin-bottom: 20px;
}
.team-clients__title {
	text-align: center;
	margin-bottom: 20px;
}
.team-client-list {
	display: flex;
	justify-content: space-between;
}
.team-clients-item {
	display: block;
	text-align: center;
	text-decoration: none;
}

.team-clients__logo-wrap {
	background-color: #fff;
	border-radius: 12px;
	max-width: 100px;
	width: 100px;
	height: 100px;
	max-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.team-clients__logo {
	max-width: 50%;
}

















.changes {
	background: url(./../img/ready/ready-bg.jpg);
	padding-top: 100px;
	padding-bottom: 90px;
	border-radius: 30px;
}
.changes__title {
	font-size: 40px;
	font-family: 'Akrobat';
	font-weight: 700;
	margin-bottom: 25px;
}
.changes__subtitle {
	font-size: 20px;
	font-family: 'Akrobat';
	font-weight: 500;
	margin-bottom: 60px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.changes-course-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 971px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 80px;
}

.changes-course {
	max-width: 370px;
}
.changes-course__title {
	text-align: center;
	font-family: 'Akrobat', sans-serif;
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 22px;
	line-height: 1.1em;
}


.changes-offer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.changes-offer__title {
	font-size: 22px;
	font-family: 'Akrobat', sans-serif;
	font-weight: 600;
	margin-bottom: 20px;
}


.changes-people {
	display: flex;
	align-items: center;
	font-size: 20px;
}
.changes-people__counter {
	border-radius: 12px;
	font-size: 24px;
	padding: 8px 23px;
	margin-right: 22px;
	margin-left: 22px;
	color: #000;
	background: #fff;
	display: inline-block;
}
.changes-offer__button {
	margin-bottom: 30px;
	max-width: 270px;
	width: 100%;
}








.footer-wrapper {
	padding-top: 100px;
	padding-bottom: 50px;
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.footer-info {
	max-width: 270px;
}
.footer-link {
	font-size: 18px;
	font-family: 'Akrobat', sans-serif;
	display: block;
	margin-bottom: 16px;
}
.footer__caption {
	font-size: 14px;
	font-weight: 16px;
}

.designer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
}
.designer__logo {
	max-width: 50px;
}




.footer-socials {
	display: flex;
	margin-left: 60px;
	justify-content: space-between;
}
.footer-socials-item {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	margin-right: 10px;
	margin-left: 10px;
	align-items: center;
}
.footer-socials-item__icon {
	width: 80%;
	height: 80%;
}
.footer-socials-item__icon--tiktok {
	height: 60%;
	width: 60%;
}


@import './max-width.css';
@import './min-width.css';
